<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script type="text/javascript" src="../easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../easyui/myvalidate.js"></script>
    <link rel="stylesheet" type="text/css" href="../easyui/themes/default/easyui.css">    
    <link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
    <!-- 在easyui页面中,script执行easyui自己的方法要加入: -->
    <script type="text/javascript" th:inline="none">
    var action = "";
	$(function(){
		$("#tb").datagrid({
			width:"100%",
			url:"apart/query",
			fitColumns:true, 
			singleSelect:true,
			columns:[[
				 {field:'Apartmentsid',width:50,title:'户型id'},
				 {field:'bedroom',width:100,title:'卧室'},
				 {field:'parlor',width:50,title:'客厅'},
				 {field:'toilet',width:50,title:'卫生间'},
				 {field:'cookhouse',width:50,title:'厨房'},
				 {field:'balcony',width:50,title:'阳台'}
			   ]],
			toolbar:[{text:"添加户型",
					  iconCls:"icon-add",
					  handler:function(){
						  $("#ff").form("reset");
						  $("#dl").dialog("setTitle","添加").dialog("open");
						  action="apart/addapart";
					  }
			   }]
		  });
		  $("#dl").dialog("close");
		});	
		
		function submitForm(){
			$("#ff").form('submit',{
				url:action,
				onSubmit:function(){
					var rs = $("#ff").form("validate");
					return rs;
				},
				success:function(){
					$("#dl").dialog("close");
					$("#tb").datagrid("reload");
				}
			});
		}
		function clearForm(){
			$("#ff").form("reset");
		}
	</script>
</head>
<body>
	<table id="tb"></table>	
	<div class="easyui-dialog" style="width:300px;height:300px;padding:10px 60px;" id="dl">
		<form id="ff" method="post">			
			<div style="margin-bottom:10px;">
				<input class="easyui-textbox" style="width:100%" data-options="label:'卧室:',required:true" name="bedroom">
			</div>	
			<div style="margin-bottom:10px;">
				<input class="easyui-textbox" style="width:100%" data-options="label:'客厅:',required:true" name="parlor">
			</div>	
			<div style="margin-bottom:10px;">
				<input class="easyui-textbox" style="width:100%" data-options="label:'卫生间',required:true" name="toilet">
			</div>
			<div style="margin-bottom:10px;">
				<input class="easyui-textbox" style="width:100%" data-options="label:'厨房',required:true" name="cookhouse">
			</div>
			<div style="margin-bottom:10px;">
				<input class="easyui-textbox" style="width:100%" data-options="label:'阳台',required:true" name="balcony">
			</div>			
		</form>
		<div style="text-align:center;padding:5px 0">
			<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">提交</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">重置</a>
		</div>
	</div>
</body>
</html>