<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta name="keywords" content=""/>
<meta name="description" content="" />
<link rel="shortcut icon" href="https://www.xiaozhu.com/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="https://www.xiaozhu.com/favicon.ico" type="image/vnd.microsoft.icon">
<title>发布您的房间</title>        
<link rel="stylesheet" type="text/css" href="//jci.xiaozhustatic1.com/e19061701/xzcss?css=base,header,footer,publishRoomV2,photoScroll,jquery-ui,nyroModal,mysite" />
</head>
    <body>
            <div class="header height56">
                <div class="top"></div>
                
<div class="detail_wrapper">
    <div class="detail_head clearfix">
        <a href="http://www.xiaozhu.com" class="xz_logo_detail">小猪</a><span class="slogan_v2 slogan_black"></span>
        <ul class="nav_R nav_commen">
                        <input type="hidden" value="landlord" id="userCurrentRole"/>
            <input type="hidden" value="106084124101" id="loginUserId"/>
                        <li class="current">
                <a href="#ongo" class="openTri_R" rel="nofollow">ufumqs</a>
                <div class="head_pop top40">
                    <div class="pop_column">
                        <a class="pop_T" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_Index">房东中心</a>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xz_web2/order/pages/landlord/orderList.html">订单管理</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_SettlementInfo">结算统计</a>
                        </span>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_ShowLetter">聊天记录</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_Comment&filterType=waitComment&fkCmtFilter=all">我的点评</a>
                        </span>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_MyRooms">房源信息</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_MyRentCalendarList">价格房态</a>
                        </span>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=FD_DiaryList">短租日记</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_UserInfo">个人资料</a>
                        </span>
                    </div>
                    <div class="pop_column">
                        <a class="pop_T pop_bor" href="http://www.xiaozhu.com/xzweb.php?op=FangKe_Index">房客中心</a>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xz_web2/order/pages/lodger/list.html">我的订单</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangKe_ShowLetter">聊天记录</a>
                        </span>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=FangKe_Comment">我的点评</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangKe_UserInfo">个人资料</a>
                        </span>
                        <span class="textCt"><a href="http://www.xiaozhu.com/logout" id="IM-Logout">退出</a></span>
                    </div>
                </div>
            </li>
                                    <li class="current">
                <a href="#ongo" class="openTri_R">短租指南</a>
                <div class="head_pop width_58 top40">
                    <div class="pop_column">
                        <span><a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=tenant">房客指南</a><a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=landlord">房东指南</a></span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#ongo" class="icon_iphone">手机小猪</a>
                  <div class="head_pop w_120 top40">
                   <a href="http://www.xiaozhu.com/appdownload/fk"  target="_blank">了解更多</a>
              </div>
            </li>
                        <li><a rel="nofollow" data-href="http://localhost:8081/fabufangyuan/findAll" class="btn_free" id = "Pub_Btn">免费发布房源</a></li>
                    </ul>
    </div>
<div id="regSuccessDialog" class="reg_success_box login_register_box" style="display:none;">
    <div class="">
        <div class="r_colsed_1" id="closeRegSuccDialogBtn"><span></span></div>
        <div id="regSuccInfo">
        </div>
    </div>
</div></div>            </div>
            <div class='h_top_box'>
                <div class="h_step_box">
                                        <ul class="clearfix">
                        <li></li>                        <li></li>                        <li></li>                        <li></li>                    </ul>
                                        <div class="h_step_cur h_pos1">
                                                <a href="http://localhost:8081/fabufangyuan/findAll" class="h_step1_cur"><span></span></a>
                                                <p>房源信息</p>
                    </div>
                    <div class="h_step_cur h_pos2">
                                                 <a href="http://localhost:8081/fabufangyuan/houseDepict" class="h_step2_cur"><span></span></a>
                                                <p>房源描述</p>
                    </div>
                    <div class="h_step_cur h_pos3">
                                               <a href="http://localhost:8081/fabufangyuan/matingqueryAll" class="h_step3_cur"><span></span></a>
                                                <p>配套设施</p>
                    </div>
                    <div class="h_step_cur h_pos4">
                                                <a href="http://localhost:8081/fabufangyuan/showpicture" class="h_step4_cur"><span></span></a>
                                                <p>真实照片</p>
                    </div>
                    <div class="h_step h_pos5">
                                                <span class="h_step5_cur"></span>
                                                <p>价格规则</p>
                    </div>
                </div>
            </div>
                         
                 
 
 
<input type="hidden" value="" id="newLodgeUnitDiscount">
<input type="hidden" value="1" id="isSupportNewLodgeUnitDiscount">
    <div class="h_wrap mt20">
        <h4 class="h_tit">价格规则</h4>
        <div class="h_house_info">
            <ul>
                <li class="clearfix pb15">
                    <label class="type1 w_103">日价：</label>
                    <div class="h_house_r clearfix" style="position: relative;">
                        <div class="clearfix pb5">
                               <input  class="h_input_box " id="money"/>元/每晚
                               <span>(将收取10%作为手续费，请谨慎填写)</span>
                        </div>
                        <div class="clearfix" style='display:none' id='coverdayrentprice' value='no'>
                            <div class="h_check h_check_cur" >不覆盖日历上单独设定的价格</div>
                            <div class="h_check ml90 ">覆盖日历上所有价格（限时特价除外）</div>
                        </div>
                    </div>
                </li>
                                <li class="clearfix pb15 newRoomDiv">
                    <label class="type1 w_103">开启新房促销：</label>
                    <div class="h_house_r clearfix ">
                        <ul class="h_newsales_type" id="newsales">
                            <li style="margin: 10px 0;" class="leasetype_red_err newSalesYes " key="yes">
                                <input style="margin-left:20px;" name="#var.check" type="radio" value='1' id="y"/>
                                <p class="h_check_tip" id="tip_newRoomsales">请完善新房促销</p>
                                <p style="display: inline-block;margin-left: 15px;font-size: 12px;color: #757575;">
                                    <span style="display: block;font-size: 14px;font-weight: bold;color: #212121;">参与新房促销</span>
                                    前3单入住的房客将享受8折促销。新房促销有助于提升您在众多房源中的竞争力，并增加房源的曝光度
                                </p>
                            </li>
                            <li style="margin: 10px 0;" class="leasetype_red_err newSalesNo " key="no">
                                <input style="margin-left:20px;" type="radio" name="#var.check" value='0' id="n"/>
                                <p style="display: inline-block;margin-left: 15px;font-size: 12px;color: #757575;">
                                    <span style="display: block;font-size: 14px;font-weight: bold;color: #212121;">不参与新房促销</span>
                                    较其他新房源可能不具备有利的价格优势及足够的吸引力
                                </p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="clearfix pb15 newRoomDiv">
                    <label class="w_103">&nbsp;</label>
                </li>
                                <li class="clearfix pb15">
                   <label class="type1 w_103">押金：</label>
                    <div class="h_input_box" >
                    	<input  class="h_input_box " id="cashPledgeVal"/>元
                           
                     </div>
                    <p class="h_tip_text cashpledge_tip">
                       最高设置金额9999元
                    </p>
                </li> 
                <li class="clearfix pb15">

                </li>
                                <li class="clearfix pb15">
                    <label class="type1 w_103">清洁费：</label>
                    <div class="h_house_r clearfix">
                        <div class="clearfix pb5">
                            <div class="h_input_box" id='cleanFeeBox'>
                                <span class="h_input_text">元／每单</span>
                                <input class='input_price' type="text" id="cleanfee" name="cleanfee"
                                    onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                    onkeyup="this.value=this.value.replace(/\D/g,'');changeFlag = true;" maxlength="3"
                                    />
                            </div>
                        <p class="h_tip_text" id="cleanFeeTip" style="display: none">清洁费的10%将作为服务费，请酌情考虑。</p>
                        <p class="h_check_tip" id='tip_cleanFee' style='display:none'>请填写清洁费</p>
                        </div>
                    </div>
                </li>
                                <li class="clearfix pb10">
                    <label class="type1 w_103">是否允许加客：</label>
                    <div class="h_house_r clearfix">
                        <div class="h_house_r clearfix" id='addtenant' value='no'>
                            <input style="margin-left:20px;" type="radio" checked="checked" value='1' id='yes'/>是
                            <input style="margin-left:20px;" type="radio" value='0' id="no"/>否
                        </div>
                    </div>
                </li>
            </ul>
            <div class="h_room_ms clearfix addtenanttips"  style="display:none" >
            <label>&nbsp;</label>
                <div class="h_room_msg1 clearfix">
                    <p class="number_tip">100字</p>
                    <textarea class="s_room_msg textarea_price" autoHeight="true" rows="6" placeholder="费用描述，线下自行收取。（选填）" id='addtenanttips' onkeyup='checkValsP2("addtenanttips")'></textarea>
                </div>
            </div>
            <div class="h_room_ms clearfix mostaddcustom">
                <label style="color: #959ea7;font-weight: normal;">其它额外费用<br>(选填)：</label>
                <div class="h_room_msg1 clearfix other_fee">
                    <p class="number_tip">2000字</p>
                    <textarea class="room_msg textarea_price other_fee_desc" autoHeight="true" rows="6" id='addtionalprice' onkeyup='checkValsP("addtionalprice")' placeholder="对水费、电费、燃气费等其他费用有其他要求，请进行描述。" ></textarea>
                </div>
            </div>
        </div>
    </div>
<div class="h_wrap">
 
 
 
 
                                <h4 class="h_tit">规则要求</h4>
                <div class="h_house_info" style="padding-bottom: 10px;">
            <ul>
                <li class="clearfix pb15">
                    <label class="type1 w_103">交易规则：</label>
                    <div class="h_house_r">
                        <div class="clearfix" >
						 <span class="price_con lh40" id="deal">房客需支付每日价格的100%作为每日订金。</span>
                            <input type="hidden" id="crvp" name="crvp" value='100%' readonly/>
                                                    </div>
                    </div>
                </li>
                <li class="clearfix pb15" id="oldRule">
                    <label class="type1 w_103">房客违约责任：</label>
                    <span id="renege">如果房客违约，将扣除房客缴纳金额的5%作为违约金</span>
                </li>
                <li class="clearfix pb15 new_rule" id="newRule">
                    <label class="type1 w_103">房客退订规则：</label>
                    <span id="rule">未住满一天不允许退房</span>
                </li>
                <li class="clearfix pb15">
                    <label class="type1 w_103">最少入住天数：</label>
                    <div class="h_house_r clearfix">
                        
                           <input  class="h_input_box " id="minday"/>天
                        
                        <p class="h_check_tip simsun" id="tip_minday" style="display:none;">最多入住天数不能小于最少入住天数</p>
                    </div>
                </li>
                <li class="clearfix pb15">
                    <label class="type1 w_103">最多入住天数：</label>
                    <div class="h_house_r clearfix">
                       
                            <input  class="h_input_box " id="maxday"/>天
                        
                    </div>
                </li>
                 <li class="clearfix pb15">
                    <label class="type1 w_150">是否接待境外人士：</label>
                    <div class="h_enter_r clearfix">
                        <div class="h_enter_r clearfix" id='foreigner' value='no'>
                            <input style="margin-left:20px;" type="radio" checked="checked" value='1' id="jiedai"/>接待
                            <input style="margin-left:20px;" type="radio"  value='0' id="bujiedai"/>不接待
                        </div>
                    </div>
                </li>
                            </ul>
            <div class="h_room_ms clearfix" style="margin: 10px 0;  ">
                <label style="padding-top: 0;color: #959ea7;font-weight: normal;">其他要求：</label>
                <div class="h_room_msg1 clearfix active_black_border">
                    <div class="msg_tip" style='display:none'>
                        <div class="msg_tip_arrow"></div>
                                                房客使用您的房间需要遵守的规则（如年龄段、性别、接待时间等），合理的要求可使您避免一些不必要的麻烦。
                                                <span class="col_pink">（请不要发布联系方式）</span> 
                    </div>
                    <p class="number_tip">2000字</p>
                    <textarea class="room_msg textarea_price" autoHeight="true" rows="6" placeholder="" name="userule" id="userule" onkeyup='checkValsP("userule")'></textarea>
                </div>
            </div>
            <div class="h_room_ms clearfix" style="margin: 10px 0;">
                <label style="padding-top: 0;color: #959ea7;font-weight: normal;">隐藏贴士：</label>
                <div class="h_room_msg1 clearfix active_black_border">
                    <div class="msg_tip" style='display:none'>
                        <div class="msg_tip_arrow"></div>
                        房客支付完成准备入住的时候才会看到的隐藏说明，您可以在这里填写例如Wifi密码、备用联系电话、详细上门方式等不便在房源页面公开展示的内容    。
                    </div>
                    <p class="number_tip">100字</p>
                    <textarea class="s_room_msg textarea_price" autoHeight="true" rows="6" placeholder="" name='hiddentips' id='hiddentips' onkeyup='checkValsP2("hiddentips")'></textarea>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="" id="room_type">
	<div class="w_960 tip_mt">
		<!--<span class="price_select price_select_cur" id="agree"></span>-->
        <span class="check_css3 agreeResBox">
            <input type="checkbox"  class="input_check" id="check3">
            <label for="check3"></label>
        </span>
        我已阅读并同意
        <a href="https://www.xiaozhu.com/help/landlordRule" class="col_pink" target="_blank">《房东规则》</a>、
        <a href="https://www.xiaozhu.com/help/auditRule" class="col_pink" target="_blank">《房源上线标准》</a>
        <span class="red_tip" style="display:none;" id="warningtip">您未同意相关条款，不可发布房源</span>
    </div>
    <div class="w_960 pb20 clearfix">
        <a href="javascript:save()" class="keep_btn yh fl needUserAgree" id='room_price_submit'>确认发布</a>
    </div>
             
<div class="foot_v2">
        <ul class="foot_ul">
        <li><a class="guide" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=tenant" target="_blank">房客指南</a></li>
        <li><a class="guide icon_fk" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=landlord" target="_blank">房东指南</a></li>
        <li>
            <span class="guide_T">关于我们</span>
            <a href="http://www.xiaozhu.com/aboutus" target="_blank">关于小猪</a>
            <a href="http://app.mokahr.com/apply/xiaozhu/4514" target="_blank">加入我们</a>
            <a href="http://www.xiaozhu.com/contactus" target="_blank">联系我们</a>
        </li>
        <li>
            <span class="guide_T">网站帮助</span>
            <a href="http://www.xiaozhu.com/help/index" target="_blank" >帮助中心</a>
            <a href="http://www.xiaozhu.com/sitemap.html" target="_blank">网站地图</a> 
        </li>
        <li class="width_280">
            <span class="guide_T">网站协议</span><br/>
            <a href="http://www.xiaozhu.com/help/service" target="_blank">服务协议</a> 
            <a href="http://www.xiaozhu.com/help/landlordRule" target="_blank">房东规则</a>
            <a href="http://www.xiaozhu.com/help/tenantRule" target="_blank">房客规则</a>
            <a href="http://www.xiaozhu.com/help/auditRule" target="_blank">房源上线标准</a>
            <a href="http://www.xiaozhu.com/help/privacy" target="_blank">隐私保护</a>
            <a href="http://www.xiaozhu.com/help/copyright" target="_blank">版权声明</a>
            <a href="http://www.xiaozhu.com/help/disclaimer" target="_blank">免责声明</a>
            <a href="http://www.xiaozhu.com/help/intellectualProperty" target="_blank">知识产权声明</a>
            <a href="http://www.xiaozhu.com/help/commentRule" target="_blank">点评发布规则</a>
            <a href="http://www.xiaozhu.com/help/japanReservationRule" target="_blank">日本标准住宅宿泊仲介业约款</a>
        </li>
        <li class="bigFont online_kf">
            <span class=""   onclick='window.open("https://yiconnect.wezhuiyi.com/chat?t=Cks3pxv2eMBfA3BZvdOhS6Pa1am5fygsIHyQRXc0D7U&uid=106084124101&customer=%7B%22cID%22%3A%22106084124101%22%7D","_blank");' ><i></i>在线客服</span>
            <p>客服电话  400 - 010 - 7890</p>
            <p>客服邮箱  service@xiaozhu.com</p>
        </li>
            </ul>
        <dl class="link_dl">
        <dt>城市导航</dt>
        <dd>
            <a target="_blank" href="//bj.xiaozhu.com/">北京短租房</a>
            <a target="_blank" href="//sh.xiaozhu.com/">上海短租房</a>
            <a target="_blank" href="//nj.xiaozhu.com/">南京短租房</a>
            <a target="_blank" href="//cd.xiaozhu.com/">成都短租房</a>
            <a target="_blank" href="//gz.xiaozhu.com/">广州短租房</a>
            <a target="_blank" href="//cq.xiaozhu.com/">重庆短租房</a>
            <a target="_blank" href="//wh.xiaozhu.com/">武汉短租房</a>
            <a target="_blank" href="//dl.xiaozhu.com/">大连短租房</a>
            <a target="_blank" href="//sanya.xiaozhu.com/">三亚短租房</a>
            <a target="_blank" href="//lijiang.xiaozhu.com/">丽江短租房</a>
            <a target="_blank" href="//tj.xiaozhu.com/">天津短租房</a>
            <a target="_blank" href="//xianggang.xiaozhu.com/">香港短租房</a>
            <a target="_blank" href="//cs.xiaozhu.com/">长沙短租房</a>
            <a target="_blank" href="//wx.xiaozhu.com/">无锡短租房</a>
            <a target="_blank" href="//km.xiaozhu.com/">昆明短租房</a>
            <a target="_blank" href="//jn.xiaozhu.com/">济南短租房</a>
            <a target="_blank" href="//xm.xiaozhu.com/">厦门短租房</a>
            <a target="_blank" href="//qd.xiaozhu.com/">青岛短租房</a>
            <a target="_blank" href="//zz.xiaozhu.com/">郑州短租房</a>
            <a target="_blank" href="//xa.xiaozhu.com/">西安短租房</a>
            <a target="_blank" href="//hz.xiaozhu.com/">杭州短租房</a>
            <a target="_blank" href="//sz.xiaozhu.com/">深圳短租房</a>
            <a target="_blank" href="//sy.xiaozhu.com/">沈阳短租房</a> 
            <a target="_blank" href="//su.xiaozhu.com/">苏州短租房</a>
        </dd>
    </dl>
    <dl class="link_dl">
         
    </dl>
                <div class="foot_btm">许可证号：京ICP证140510号 &nbsp;&nbsp; <a href="//www.anquan.org/s/www.xiaozhu.com" |="" name="mt8SMvYyRDI92b06nuDs8dPFapllCJYidqhM1WlOoGRZ9DWpbo" rel="nofollow" target="_blank">安全联盟</a> &nbsp;&nbsp; 北京快跑信息科技有限公司 &nbsp;&nbsp; <a href="http://www.xiaozhu.com/images/yingye.jpg" |="" name="yingyezhizhao" rel="nofollow" target="_blank">营业执照号 103613118</a> <span style="display:none">  &nbsp;&nbsp; 地址：北京市海淀区知春路56号   &nbsp;&nbsp;电话：010-62961978</span>
    </div>
</div>

<input type="hidden" name="actionName" id="actionName" value="Pub_IndexV2Step5"/>
<input type="hidden" name="xz_srf_token" id="xz_srf_token" value="96328ee4f81f2f0208d5ef62f7d530fe"/>

<script type="text/javascript" src="//jci.xiaozhustatic3.com/e19061701/js/jquery/jquery.js"></script>
<script type="text/javascript" src="//jci.xiaozhustatic1.com/e19061701/xzjs?k=Footer&httphost=www.xiaozhu.com"></script>
<link rel="stylesheet" type="text/css" href="//jci.xiaozhustatic1.com/e19061701/xzcss?css=jquery.mCustomScrollbar,nyroModal,uploadify,shadepage" />
<script type="text/javascript" src="//jci.xiaozhustatic1.com/e19061701/js/jquery/lazyload.js"></script>
<script type="text/javascript" src="http://www.xiaozhu.com/e19061701/js/webimv4/application/xzim4.js?source=xiaozhu&dm=xiaozhu.com" id="webimSource"></script>

        </div>
        <script type="text/javascript" src="//jci.xiaozhustatic1.com/e19061701/xzjs?k=Pub_IndexV2Step5&httphost=www.xiaozhu.com"></script>
<script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
<script type="text/javascript">
	function setSelectUserNo(radioObj){
			var radioCheck= $(radioObj).val();
			if("1"==radioCheck){
				$(radioObj).attr("checked",false);
				$(radioObj).val("0");
			}else{ 
				$(radioObj).val("1");
			}
	}
	function save(){
		var money=$("#money").val();
		var promotion=$("#y").val();
		var n=$("#n").val();
		var cashPledgeVal=$("#cashPledgeVal").val();
		var cleanfee=$("#cleanfee").val();
		var yes=$("#yes").val();
		var no=$("no").val();
		var addtionalprice=$("#addtionalprice").val();
		var deal=$("#deal").html();
		var renege=$("#renege").html();
		var rule=$("#rule").html();
		var minday=$("#minday").val();
		var maxday=$("#maxday").val();
		var jiedai=$("#jiedai").val();
		var bujiedai=$("#bujiedai").val();
		var userule=$("#userule").val();
		var hiddentips=$("#hiddentips").val();
		var is=$("#check3").is(":checked") ? 1:0;
		if(is==0){
			alert("请选择您已同意房东规则和房源上线标准");
		}else{
			$.ajax({
				url:"../priceRule/add",
				type:"post",
				async: false,//url
	            cache: false,
	            data: {price:money,promotion:promotion,earnest:cashPledgeVal,cleaningFee:cleanfee,allow:yes,priceRule:addtionalprice},
				success:function(){
					$.ajax({
						url:"../rule/add",
						type:"post",
						async: false,//url
			            cache: false,
			            data: {deal:deal,renege:renege,rule:rule,minday:minday,maxday:maxday,reception:jiedai,otherRequire:userule,hoideTips:hiddentips},
						success:function(){
							
						}
					});
				}
			});
		}
	}
</script>        
</body>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->
</html>