
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta name="keywords" content=""/>
<meta name="description" content="" />
<link rel="shortcut icon" href="https://www.xiaozhu.com/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="https://www.xiaozhu.com/favicon.ico" type="image/vnd.microsoft.icon">
<title>登录-小猪</title><link rel="stylesheet" type="text/css" href="//jci.xiaozhustatic1.com/e19061101/xzcss?css=global,loginWebPage,jquery-ui" />
</head>
<body>
<div class="xz-bg" style="background-image:url(https://image.xiaozhustatic1.com/00,1600,700/19,0,17,26983,1600,700,f66bb85e.jpg)">
    <img src="https://image.xiaozhustatic1.com/00,1600,700/19,0,17,26983,1600,700,f66bb85e.jpg" />
</div>
<div>
    <div class="head_bar">
        <div class="head_bar_con">
            <a href="http://www.xiaozhu.com" class="logo_index">小猪</a>
            <span class="slogan_v2">居住自由主义</span>
        </div>
    </div>
    <div class="r_mask"></div>
    <div class="loginbox" style="display:none">
    <div class="w_698" id="pageLoginDialog">
        <div class="clearfix">
            <div class="r_main_l">
                <ul class="r_tab clearfix">
                    <li class="percent_50 tc cur underL1" id="generalLi">普通登录</li>
                    <li class="percent_50 tc cur" id="mobileLi" dialog='0' >短信快捷登录</li>
                </ul>
                <div id="generalLogin">
                    <ul class="register_list">
                        <li>
                            <div class="h_30">
                                                            </div>
                            <div class="pr">
                                <div class="r_tel_ico"></div>
                                <input type="text" class="r_input_1" id="input-username" autocomplete="off" placeholder="手机号、邮箱">
                            </div>
                        </li>
                        <li>
                            <div class="h_30"><div class="r_error_tip" id="input-username-tip"><span class="icon-wrong" id=""></span>手机号未注册</div></div>
                            <div class="pr">
                                <div class="r_password_ico"></div>
                                <input type="password" class="r_input_1" id="password" autocomplete="off"  placeholder="密码">
                                <div class="h_30">
                                    <div class="r_error_tip" id="password-tip"><span class="ipt-text-pass"></span></div>
                                </div>    
                            </div>
                        </li>
                        <span  style="display:none"  id="verify-show">
                        <li>
                            <div class="pr">
                                <div class="r_pho_ico"></div>
                                <input type="text" class="r_input_small" id="image-verify-code" autocomplete="off" placeholder="图片验证码">
                                <span class="r_code"><img src="http://www.xiaozhu.com/ajax.php?op=AJAX_PicCheckCodeShow&nocache=1560485419" onclick="resetCheckcode('img_imagecodes','image-verify-code');return false;" width="101px" height="33px" id="img_imagecodes" title="点击更换验证码" /></span>
                                <div class="h_30">
                                    <div class="r_error_tip" id="image-verify-code-tip"></div>
                                </div>
                            </div>
                        </li>
                        </span>
                    </ul>
                    <a href="#" class="r_input mt_10" id="orgBtn">登录</a>
                    <div class="pt_20"><span class="fl cur "><input type="checkbox" id="setcookie" checked="checked" class="ipt-checkbox2" />自动登录</span>
                    <span class="fr col_gray"><a href="http://www.xiaozhu.com/findpwdbyphone">忘记密码?</a></span></div>
                </div>
                <div id="mobileLogin" style="display:none">
                    <ul class="register_list">
                        <li>
                            <div class="h_30">&nbsp;</div>
                            <div class="pr">
                                <div class="r_telepho_ico"></div>
                                <input type="text" class="r_input_1" id="quick-input-mobile" autocomplete="off" placeholder="手机号">
                            </div>
                        </li>
                        <li>
                            <div class="h_30">
                                <div class="r_error_tip" id="quick-input-mobile-tip"><span class="icon-ok"></span></div>
                            </div>
                            <div class="pr">
                                <div class="r_pho_ico"></div>
                                <input type="text" class="r_input_small" id="quick-image-code"  autocomplete="off" placeholder="图片验证码">
                                <span class="r_code"><img src="http://www.xiaozhu.com/ajax.php?op=AJAX_PicCheckCodeShow&nocache=1560485419" onclick="resetCheckcode('img_imagecodeMobile','quick-image-code');return false;" width="101px" height="33px" id="img_imagecodeMobile" title="点击更换验证码" /></span>
                            </div>
                        </li>
                        <li>
                            <div class="h_30">
                                <div class="r_error_tip" id="quick-image-code-tip"></div>
                            </div>
                            <div class="pr">
                                <div class="r_vali_ico"></div>
                                <input type="text" class="r_input_small" id="quick-activate-code" autocomplete="off" placeholder="动态验证码">
                                <a class="have-nb" href="javascript:;" id="quick-get-code-btn">获取动态验证码</a>    
                                <div class="h_30">
                                    <div class="r_error_tip"  id="quick-activate-code-tip"><span class="icon-ok"></span></div> 
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="r_input mt_10" id="orgBtnMobile">登录</a>
                    <p class="mt_10 mt_20">＊验证即登录，未注册将自动创建小猪账号</p> 
                </div>
            </div>
            <input type="hidden" id="hint" value="">
            <input type="hidden" id="htmlPage" value="1" />
            <div class="r_main_r">
                <h5>合作网站账户登录</h5>
<ul class="r_wedsitev1">
    <li>
    <a class="hz_qqv1" href="http://www.xiaozhu.com/xzweb.php?op=GetOpenSnsAuthUrl&snsType=qqzone&state=login&next=http%3A%2F%2Fwww.xiaozhu.com%2Fxz_web2%2Forder%2Fpages%2Flodger%2ForderDetail.html%3ForderId%3D107588821000"><i></i>QQ登录</a>
    </li>
    <li>
    <a class="hz_weibov1" href="http://www.xiaozhu.com/xzweb.php?op=GetOpenSnsAuthUrl&snsType=sinaweibo&state=login&next=http%3A%2F%2Fwww.xiaozhu.com%2Fxz_web2%2Forder%2Fpages%2Flodger%2ForderDetail.html%3ForderId%3D107588821000"><i></i>微博登录</a>
    </li>
    <li>
    <a class="hz_weixinv1" href="http://www.xiaozhu.com/xzweb.php?op=GetOpenSnsAuthUrl&snsType=weixinopen&state=login&next=http%3A%2F%2Fwww.xiaozhu.com%2Fxz_web2%2Forder%2Fpages%2Flodger%2ForderDetail.html%3ForderId%3D107588821000"><i></i>微信登录</a>
    </li>
</ul>                <p>还没有注册？<a href="http://www.xiaozhu.com/register?next=http%3A%2F%2Fwww.xiaozhu.com%2Fxz_web2%2Forder%2Fpages%2Flodger%2ForderDetail.html%3ForderId%3D107588821000" class="col_pink">注册账号&gt;&gt;</a></p>
            </div>
        </div>
    </div>
    <div id="mobilePerfeactInfoDialog" style="display:none;">
        <div class="w_400"> 
            <div class="r_top_logo">
                <p>首次登录，请完善资料后，开启小猪住宿之旅！</p>
            </div>
            <ul class="register_list">
                <li>
                    <div class="h_30">
                        <p class="r_error_tip" style="display:none;"></p>&nbsp;
                    </div>
                    <div class="pr">
                        <div class="r_tel_ico"></div>
                        <input id="quick-input-username" type="text" autocomplete="off" placeholder="用户名" class="r_input_1">
                    </div>
                </li>
                <li>
                    <div class="h_30">
                        <p class="r_error_tip" id="quick-input-username-tip">请输入用户名</p>&nbsp;
                    </div>
                    <div class="pr">
                        <div class="r_password_ico"></div>
                        <input type="password" id="quick-regpassword" autocomplete="off" placeholder="密码" class="r_input_1">
                    </div>
                </li>
                <li>
                    <div class="h_30">
                        <p class="r_error_tip" id="quick-regpassword-tip">请输入密码</p>&nbsp;
                    </div>
                    <div class="pr">
                        <div class="r_num_ico"></div>
                        <input id="quick-invitecode" type="text" autocomplete="off" placeholder="邀请码(选填)" class="r_input_1">
                    </div>
                    <div class="h_30" style="display:none;">
                        <p id="quick-invitecode-tip" class="r_error_tip">邀请码输入有误</p>&nbsp;
                    </div>
                    <p class="col_fgray r_tip_text">使用朋友给您的邀请码注册后，均可获得120元</p>
                </li>
            </ul>
            
            <a class="r_input" id="mobileInfoPerfeactBtn" href="#">确定</a>
        </div>
    </div>
</div>
</div>
<input type='hidden' id="next" name="next" value="http://www.xiaozhu.com/xz_web2/order/pages/lodger/orderDetail.html?orderId=107588821000" /><input type='hidden' id="createfrom" name="createfrom" value="" />
<input type='hidden' id="comefrom" name="comefrom" value="" />
<input type='hidden' id="referrer" name="referrer" value="" />
<input type='hidden' id="actionName" name="actionName" value="Front_Login" />
<input type='hidden' id="reqactionname" name="reqactionname" value="Front_Login" />
<input type='hidden' id="countryname" name="countryname" value="" />
<input type='hidden' id="countrycode" name="countrycode" value="" />
<input type='hidden' id="countryflag" name="countryflag" value="" />

<input type="hidden" name="xz_srf_token" id="xz_srf_token" value="3f10d77d2f5133b424e36414e0db323e"/>

 

<script type="text/javascript" src="//jci.xiaozhustatic1.com/e19061101/xzjs?k=Footer_LoginRegister&httphost=www.xiaozhu.com"></script> 
<script type="text/javascript" src="//jci.xiaozhustatic1.com/e19061101/xzjs?k=Front_Login&httphost=www.xiaozhu.com"></script>
</body>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager --></html>