
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
                    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta name="keywords" content=""/>
<meta name="description" content="" />
<link rel="shortcut icon" href="https://www.xiaozhu.com/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="https://www.xiaozhu.com/favicon.ico" type="image/vnd.microsoft.icon">
<title>发布您的房间</title>        <link rel="stylesheet" type="text/css" href="//jci.xiaozhustatic1.com/e19061701/xzcss?css=base,header,footer,publishRoomV2,photoScroll,jquery-ui,nyroModal,mysite" />
    </head>
    <body>
            <div class="header height56">
                <div class="top"></div>
                
<div class="detail_wrapper">
    <div class="detail_head clearfix">
        <a href="http://www.xiaozhu.com" class="xz_logo_detail">小猪</a><span class="slogan_v2 slogan_black"></span>
        <ul class="nav_R nav_commen">
                        <input type="hidden" value="landlord" id="userCurrentRole"/>
            <input type="hidden" value="106084124101" id="loginUserId"/>
                        <li class="current">
                <a href="#ongo" class="openTri_R" rel="nofollow"></a>
                <div class="head_pop top40">
                    <div class="pop_column">
                        <a class="pop_T" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_Index">房东中心</a>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xz_web2/order/pages/landlord/orderList.html">订单管理</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_SettlementInfo">结算统计</a>
                        </span>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_ShowLetter">聊天记录</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_Comment&filterType=waitComment&fkCmtFilter=all">我的点评</a>
                        </span>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_MyRooms">房源信息</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_MyRentCalendarList">价格房态</a>
                        </span>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=FD_DiaryList">短租日记</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_UserInfo">个人资料</a>
                        </span>
                    </div>
                    <div class="pop_column">
                        <a class="pop_T pop_bor" href="http://www.xiaozhu.com/xzweb.php?op=FangKe_Index">房客中心</a>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xz_web2/order/pages/lodger/list.html">我的订单</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangKe_ShowLetter">聊天记录</a>
                        </span>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=FangKe_Comment">我的点评</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangKe_UserInfo">个人资料</a>
                        </span>
                        <span class="textCt"><a href="http://www.xiaozhu.com/logout" id="IM-Logout">退出</a></span>
                    </div>
                </div>
            </li>
                                    <li class="current">
                <a href="#ongo" class="openTri_R">短租指南</a>
                <div class="head_pop width_58 top40">
                    <div class="pop_column">
                        <span><a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=tenant">房客指南</a><a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=landlord">房东指南</a></span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#ongo" class="icon_iphone">手机小猪</a>
                  <div class="head_pop w_120 top40">
                   <a href="http://www.xiaozhu.com/appdownload/fk"  target="_blank">了解更多</a>
              </div>
            </li>
                        <li><a rel="nofollow" data-href="http://www.xiaozhu.com/publish" class="btn_free" id = "Pub_Btn">免费发布房源</a></li>
                    </ul>
    </div>
    <div id="userlogindialog" class="login_register_box" style="display:none;">
<div id="regSuccessDialog" class="reg_success_box login_register_box" style="display:none;">
    <div class="">
        <div class="r_colsed_1" id="closeRegSuccDialogBtn"><span></span></div>
        <div id="regSuccInfo">
        </div>
    </div>
</div></div>            </div>
            <div class='h_top_box'>
                <div class="h_step_box">
                                        <ul class="clearfix">
                        <li></li>                        <li></li>                                                                    </ul>
                                        <div class="h_step_cur h_pos1">
                                                <a href="http://localhost:8081/fabufangyuan/findAll" class="h_step1_cur"><span></span></a>
                                                <p>房源信息</p>
                    </div>
                    <div class="h_step_cur h_pos2">
                                                <a href="http://localhost:8081/fabufangyuan/houseDepict" class="h_step2_cur"><span></span></a>
                                                <p>房源描述</p>
                    </div>
                    <div class="h_step h_pos3">
                                                <span class="h_step3_cur"></span>
                                                <p>配套设施</p>
                    </div>
                    <div class="h_step h_pos4">
                                                <span class="h_step4"></span>
                                                <p>真实照片</p>
                    </div>
                    <div class="h_step h_pos5">
                                                <span class="h_step5"></span>
                                                <p>价格规则</p>
                    </div>
                </div>
            </div>
            
    <div class="h_wrap pb10 mt20">
                 <h4 class="h_tit">配套设施</h4>
            <div>
		      	<div class="sb_box clearfix" >
		      	<h4>卫浴：</h4>
				      <ul th:each="l1:${list1}">
		                <li style="display:inline-block;float:left;">
		                    <input type="checkbox" style="height:15px;width:15px;margin-left:50px;" name="yaju" value="1" th:value="${l1.mdId}"/><span th:text="${l1.matingDetails}"></span>
		                </li>
		            </ul>
		     	</div>
            </div>
               
          <div class="sb_box clearfix"> 
            <h4>电器：</h4>
            <ul th:each="l2:${list2}"> 
                <li style="display:inline-block;float:left;">
		              <input type="checkbox" style="height:15px;width:15px;margin-left:50px;" name="yaju" th:value="${l2.mdId}"/><span th:text="${l2.matingDetails}"></span>
		         </li>
            </ul>
        </div>
        <div class="sb_box clearfix"> 
            <h4>设施：</h4>
            <ul th:each="l3:${list3}"> 
                <li style="display:inline-block;float:left;">
		                    <input type="checkbox" style="height:15px;width:15px;margin-left:50px;" name="yaju" th:value="${l3.mdId}"/><span th:text="${l3.matingDetails}"></span>
		         </li>
            </ul>
        </div>
        <div class="sb_box clearfix"> 
            <h4>特别设施：</h4>
            <ul th:each="l4:${list4}">  
                <li style="display:inline-block;float:left;">
		                    <input type="checkbox" style="height:15px;width:15px;margin-left:50px;" name="yaju" th:value="${l4.mdId}"/><span th:text="${l4.matingDetails}"></span>
		                </li>
            </ul>
        </div>
        <div class="sb_box clearfix"> 
            <h4>要求：</h4>
            <ul th:each="l5:${list5}"> 
                <li style="display:inline-block;float:left;">
		                    <input type="checkbox" style="height:15px;width:15px;margin-left:50px;" name="yaju" th:value="${l5.mdId}"/><span th:text="${l5.matingDetails}"></span>
		        </li>
            </ul>
        </div>
    </div>
    
    <input type="hidden" value="" id="room_type">
    <div class="w_960 pb20 clearfix">
        <a href="javascript:save()" class="keep_btn" id="facilitySave">保存并继续</a>
    </div>      
<div class="foot_v2">
        <ul class="foot_ul">
        <li><a class="guide" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=tenant" target="_blank">房客指南</a></li>
        <li><a class="guide icon_fk" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=landlord" target="_blank">房东指南</a></li>
        <li>
            <span class="guide_T">关于我们</span>
            <a href="http://www.xiaozhu.com/aboutus" target="_blank">关于小猪</a>
            <a href="http://app.mokahr.com/apply/xiaozhu/4514" target="_blank">加入我们</a>
            <a href="http://www.xiaozhu.com/contactus" target="_blank">联系我们</a>
        </li>
        <li>
            <span class="guide_T">网站帮助</span>
            <a href="http://www.xiaozhu.com/help/index" target="_blank" >帮助中心</a>
            <a href="http://www.xiaozhu.com/sitemap.html" target="_blank">网站地图</a> 
        </li>
        <li class="width_280">
            <span class="guide_T">网站协议</span><br/>
            <a href="http://www.xiaozhu.com/help/service" target="_blank">服务协议</a> 
            <a href="http://www.xiaozhu.com/help/landlordRule" target="_blank">房东规则</a>
            <a href="http://www.xiaozhu.com/help/tenantRule" target="_blank">房客规则</a>
            <a href="http://www.xiaozhu.com/help/auditRule" target="_blank">房源上线标准</a>
            <a href="http://www.xiaozhu.com/help/privacy" target="_blank">隐私保护</a>
            <a href="http://www.xiaozhu.com/help/copyright" target="_blank">版权声明</a>
            <a href="http://www.xiaozhu.com/help/disclaimer" target="_blank">免责声明</a>
            <a href="http://www.xiaozhu.com/help/intellectualProperty" target="_blank">知识产权声明</a>
            <a href="http://www.xiaozhu.com/help/commentRule" target="_blank">点评发布规则</a>
            <a href="http://www.xiaozhu.com/help/japanReservationRule" target="_blank">日本标准住宅宿泊仲介业约款</a>
        </li>
        <li class="bigFont online_kf">
            <span class=""   onclick='window.open("https://yiconnect.wezhuiyi.com/chat?t=Cks3pxv2eMBfA3BZvdOhS6Pa1am5fygsIHyQRXc0D7U&uid=106084124101&customer=%7B%22cID%22%3A%22106084124101%22%7D","_blank");' ><i></i>在线客服</span>
            <p>客服电话  400 - 010 - 7890</p>
            <p>客服邮箱  service@xiaozhu.com</p>
        </li>
            </ul>
        <dl class="link_dl">
        <dt>城市导航</dt>
        <dd>
            <a target="_blank" href="//bj.xiaozhu.com/">北京短租房</a>
            <a target="_blank" href="//sh.xiaozhu.com/">上海短租房</a>
            <a target="_blank" href="//nj.xiaozhu.com/">南京短租房</a>
            <a target="_blank" href="//cd.xiaozhu.com/">成都短租房</a>
            <a target="_blank" href="//gz.xiaozhu.com/">广州短租房</a>
            <a target="_blank" href="//cq.xiaozhu.com/">重庆短租房</a>
            <a target="_blank" href="//wh.xiaozhu.com/">武汉短租房</a>
            <a target="_blank" href="//dl.xiaozhu.com/">大连短租房</a>
            <a target="_blank" href="//sanya.xiaozhu.com/">三亚短租房</a>
            <a target="_blank" href="//lijiang.xiaozhu.com/">丽江短租房</a>
            <a target="_blank" href="//tj.xiaozhu.com/">天津短租房</a>
            <a target="_blank" href="//xianggang.xiaozhu.com/">香港短租房</a>
            <a target="_blank" href="//cs.xiaozhu.com/">长沙短租房</a>
            <a target="_blank" href="//wx.xiaozhu.com/">无锡短租房</a>
            <a target="_blank" href="//km.xiaozhu.com/">昆明短租房</a>
            <a target="_blank" href="//jn.xiaozhu.com/">济南短租房</a>
            <a target="_blank" href="//xm.xiaozhu.com/">厦门短租房</a>
            <a target="_blank" href="//qd.xiaozhu.com/">青岛短租房</a>
            <a target="_blank" href="//zz.xiaozhu.com/">郑州短租房</a>
            <a target="_blank" href="//xa.xiaozhu.com/">西安短租房</a>
            <a target="_blank" href="//hz.xiaozhu.com/">杭州短租房</a>
            <a target="_blank" href="//sz.xiaozhu.com/">深圳短租房</a>
            <a target="_blank" href="//sy.xiaozhu.com/">沈阳短租房</a> 
            <a target="_blank" href="//su.xiaozhu.com/">苏州短租房</a>
        </dd>
    </dl>
    <dl class="link_dl">
         
    </dl>
          <div class="foot_btm">许可证号：京ICP证140510号 &nbsp;&nbsp; <a href="//www.anquan.org/s/www.xiaozhu.com" |="" name="mt8SMvYyRDI92b06nuDs8dPFapllCJYidqhM1WlOoGRZ9DWpbo" rel="nofollow" target="_blank">安全联盟</a> &nbsp;&nbsp; 北京快跑信息科技有限公司 &nbsp;&nbsp; <a href="http://www.xiaozhu.com/images/yingye.jpg" |="" name="yingyezhizhao" rel="nofollow" target="_blank">营业执照号 103613118</a> <span style="display:none">  &nbsp;&nbsp; 地址：北京市海淀区知春路56号   &nbsp;&nbsp;电话：010-62961978</span>
    </div>
</div>

<input type="hidden" name="actionName" id="actionName" value="Pub_IndexV2Step3"/>
<input type="hidden" name="xz_srf_token" id="xz_srf_token" value="96328ee4f81f2f0208d5ef62f7d530fe"/>

<script type="text/javascript" src="//jci.xiaozhustatic3.com/e19061701/js/jquery/jquery.js"></script>
<script type="text/javascript" src="//jci.xiaozhustatic1.com/e19061701/xzjs?k=Footer&httphost=www.xiaozhu.com"></script>
<link rel="stylesheet" type="text/css" href="//jci.xiaozhustatic1.com/e19061701/xzcss?css=jquery.mCustomScrollbar,nyroModal,uploadify,shadepage" />
<script type="text/javascript" src="//jci.xiaozhustatic1.com/e19061701/js/jquery/lazyload.js"></script>
<script type="text/javascript" src="http://www.xiaozhu.com/e19061701/js/webimv4/application/xzim4.js?source=xiaozhu&dm=xiaozhu.com" id="webimSource"></script>

        </div>
        <script type="text/javascript" src="//jci.xiaozhustatic1.com/e19061701/xzjs?k=Pub_IndexV2Step3&httphost=www.xiaozhu.com"></script>
                        <script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
<script type="text/javascript">
	function save(){
		var allChooseradio = document.getElementsByName("yaju");
		var id="";
        for(var i=0;i<allChooseradio.length;i++){
	        if (allChooseradio[i].checked == true) {
	                res = allChooseradio[i].value;
	                if(res){
	                	id+=res+",";
	                }
	         }
        }
         $.ajax({
				url:"../house/updateMating",
				type:"post",
				data:{"matingId":id},
				async: false,
				success:function(data){
					window.location.href="http://localhost:8081/fabufangyuan/showpicture";
				}
			});
	}
</script>
</body>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->
</html>