/* 取消订单 */
.cancel {
    font-size: 14px;
}

.cancel .cancel_section {
    padding: 40px 0 30px;
    border-top: 2px solid #dfdfdf;
}

.cancel .action {
    display: -webkit-flex;
    display: flex;
}

.cancel .action .cancel_btn {
    width: 180px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 2px;
    background: #ff4081;
    cursor: pointer;
}

.cancel .reason_text_area {
    padding-bottom: 30px;
}

/* 提前离开 */
.leave {
    font-size: 14px;
}

.leave .leave_date {
    padding: 38px 0 40px;
    border-bottom: 2px solid #dfdfdf;
}

.leave .leave_date .title {
    font-size: 20px;
}

.leave .leave_date .desc {
    display: -webkit-flex;
    display: flex;
    margin: 28px 0 30px;
    font-size: 16px;
}

.leave .leave_date .now_out {
    margin-left: 80px;
}

.leave .leave_date .content {
    height: 374px;
    width: 720px;
}

.leave .leave_date .content .calender_wrap {
    position: static;
    box-shadow: none;
    border: 1px solid #eee;
}

.leave .btn_panel {
    margin-top: 30px;
    font-size: 0;
}

.leave .prev_btn {
    display: inline-block;
    padding: 12px 64px;
    color: #fff;
    font-size: 18px;
    background: #ff4081;
    cursor: pointer;
}

.leave .reasonTextArea {
    padding-bottom: 20px;
}

.leave .btn_panel .prev_btn:last-child {
    margin-left: 20px;
}

/* 提前离开明细 */
.leave_detail {
    font-size: 14px;
}

.leave_detail .action {
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    margin-top: 30px;
    font-size: 18px;
    color: #fff;
}

.leave_detail .pre_btn,
.leave_detail .leave_btn {
    padding: 12px 64px;
    background: #ff4081;
    cursor: pointer;
}

.leave_detail .leave_btn {
    margin-left: 10px;
}

/* 订单详情 */
.order_detail {
    color: #212121;
    font-size: 14px;
}

.order_detail .reorder_title {
    position: relative;
    padding: 20px;
    background: #26a69a;
}

.order_detail .reorder_title .pattern {
    color: #ffffff;
    font-size: 20px;
}

.order_detail .reorder_title .panel {
    padding-top: 10px;
}

.order_detail .reorder_title .desc_panel {
    padding-top: 6px;
}

.order_detail .reorder_title .desc1,
.order_detail .reorder_title .desc2 {
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;
    opacity: 0.8;
}

.order_detail .reorder_title .btn_action,
.order_detail .reorder_title .btn_close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.order_detail .reorder_title .btn_close {
    display: inline-block;
    top: auto;
    bottom: 20px;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .8);
    border-radius: 2px;
    box-sizing: border-box;
}
.order_detail .reorder_title .btn_close:hover {
    border-color: rgba(255, 255, 255, 1);
}

.order_detail .reorder_title .btn_action {
    right: 14px;
}

.order_detail .order_state {
    padding: 32px 0;
    border-bottom: 2px solid #dfdfdf;
}

.order_detail .order_state .tips {
    margin-top: 10px;
}

.order_detail .state_wrapper {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.order_detail .state_wrapper .state .pattern, .order_detail .state_wrapper .state .iconfont {
    font-weight: bold;
}

.order_detail .state_wrapper .btns {
    padding-right: 4px;
}
.order_detail .state_wrapper .btn_panel {
    position: relative;
    display: inline-block;
}

.order_detail .btn_panel .parent_btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    min-width: 90px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 2px;
}
.order_detail .btn_panel .parent_btn:hover {
    border-color: #212121;
}
.order_detail .btn_panel .parent_btn.particular {
    color: #ff4081;
    border-color: #ffc5d9;
}
.order_detail .btn_panel .parent_btn.particular:hover {
    color: #fff;
    border-color: #ff4081;
    background: #ff4081;
}
.order_detail .more_btn_panel {
    display: none;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 9;
    width: 100%;
}
.order_detail .more_btn_panel:before {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
}
.order_detail .parent_btn:hover + .more_btn_panel,
.order_detail .btn_panel:hover .more_btn_panel{
    display: block;
}

.order_detail .more_btn {
    display: block;
    box-shadow: #e0e0e0 0 0 2px;
    border-radius: 2px;
}

.order_detail .more_btn .item_btn {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #e0e0e0;
    background: #fff;
}

.order_detail .submitter_info {
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    margin-top: 10px;
    color: #757575;
}

.order_detail .submitter_info .email {
    margin-left: 10px;
}

.order_detail .order_state .state {
    color: #212121;
    font-size: 22px;
}

.order_detail .order_state .state .iconfont {
    font-size: 25px;
    font-weight: 600;
}

.order_detail .el-button {
    padding: 7px 16px;
}

.order_detail .order_info {
    padding: 30px 0;
    border-bottom: 2px solid #dfdfdf;
}

.order_detail .order_section.carefree_insurance .item_remark {
    font-size: 20px;
}
.order_detail .order_section.carefree_insurance .view_detail.btn {
    margin-top: 0;
    line-height: 18px;
}

.order_detail .order_info h3 {
    padding-bottom: 30px;
    color: #212121;
    font-size: 20px;
    font-weight: 600;
}
.order_section .order_form .heading .txt,
.order_detail .order_section .heading .txt,
.order_detail .occupant .heading .txt {
    font-weight: 600;
}

.order_detail .order_info .panel {
    display: -webkit-flex;
    display: flex;
}

.order_detail .order_info .panel img {
    background: #EEE;
}

.order_detail .panel .content {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-left: 20px;
    color: #212121;
    font-size: 14px;
}
.order_detail .panel .content .main_info,
.order_detail .panel .content .landlord{
    font-weight: bold;
}

.order_detail .panel .content span {
    display: block;
}

.order_detail .panel .content span .display_inline {
    display: inline;
}

.order_detail .panel .content .lanlord {
    margin: 12px 0 19px;
}

.order_detail .panel .content .el-button {
    padding: 0;
}

.order_detail .panel .content .el-icon--right {
    margin-left: 0;
    margin-right: 8px;
}

.order_detail .panel .content .el-button--text {
    color: #212121;
    text-decoration: underline;
}

.order_detail .panel .content .landlord {
    margin: 14px 0;
}

.order_detail .panel .content .contact_btn {
    display: inline-block;
}

.order_detail .panel .content .sub_info {
    margin-top: 10px;
    border-top: 1px solid #eee;
    overflow: hidden;
}

.order_detail .panel .sub_info .house_info,
.order_detail .panel .sub_info .location {
    margin-top: 10px;
    color: #757575;
}

.order_detail .panel .owner {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 15px;
}

.order_detail .owner .avatar {
    width: 46px;
    height: 46px;
}

.order_detail .owner .pic_avatar {
    border-radius: 50%;
}

.order_detail .owner .name {
    margin: 0 15px;
}

.order_detail .owner .contact {
    cursor: pointer;
}

.order_detail .order_section,
.order_detail .occupant {
    padding: 30px 0 30px;
    border-bottom: 2px solid #dfdfdf;
}

.order_detail .occupant .content {
    width: 100%;
}

.order_detail .order_section .item_remark {
    margin-top: 10px;
    color: #212121;
    font-size: 14px;
}
.order_detail .order_section .item_remark .voucher {
    background: url(../images/img/img_bk_vouvher.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    height: 25px;
    padding: 0 12px;
    color: #26a69a;
    line-height: 25px;
}
.order_detail .order_section .item_remark:nth-of-type(1) {
    margin-top: 0;
}
.order_section .detail .info_item {
    margin-top: 10px;
}

.order_section .detail .info_item:first-child {
    margin-top: 0;
}

.order_detail.reorder_detail .occupant {
    border-bottom: 0;
}

.order_section .handle {
    font-size: 14px;
}

.order_section .heading,
.order_detail .occupant .heading {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding-bottom: 26px;
    font-size: 20px;
}

.order_section .order_form .heading {
    padding-bottom: 0;
}

.order_detail .occupant .heading {
    padding-bottom: 0;
}

.order_detail .order_section.cash_pledge .heading {
    padding-bottom: 0;
}

.order_detail .order_section.cash_pledge .item_remark {
    margin-top: 10px;
}
.order_detail .order_section.cash_pledge .item_remark:nth-of-type(1) {
    margin-top: 26px;
}

.order_detail .order_section .heading .amount,
.order_detail .occupant .heading .amount {
    color: #ff4081;
}

.order_detail .occupant .heading .amount {
    color: #212121;
}

.order_detail .order_section .item {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 20px;
}

.order_detail .order_section .order_form .item {
    display: block;
}

.order_detail .order_section .item:last-child,
.order_detail .item_panel .desc:last-child{
    margin-bottom: 0;
}
.order_detail .item_panel .desc{
    margin-bottom: 20px;
}

.order_detail .order_section .item .title {
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    margin-right: 20px;
    line-height: 24px;
}

.order_detail .order_section .item .desc {
    line-height: 24px;
    color: #757575;
}

.order_detail .order_section .view_detail {
    line-height: 24px;
}

.order_detail .order_section .view_detail.btn {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}

.order_detail .view_detail .hidden_tips {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.order_detail .occupant .tips {
    margin-top: 30px;
}

.order_detail .occupant .tips .tip {
    line-height: 22px;
}

.order_detail .occupant .link_tag {
    color: #ff4081;
}

.order_detail .el-container .el-table {
    margin-top: 28px;
    padding: 12px 42px 30px 34px;
    border: 1px solid #eeeeee;
}

.order_detail .el-container .el-table tbody td {
    border: none;
    text-align: left;
}

.order_detail .order_peo {
    margin-top: 38px;
    font-size: 16px;
}

.order_detail .order_no {
    display: inline-block;
    margin-top: 16px;
    padding: 6px 10px;
    color: #fff;
    background: #000;
}

.el-message-box--center.o_detail .el-message-box__header {
    padding: 30px 30px 20px;
}
.el-message-box--center.o_detail .el-message-box__btns {
    padding: 0;
}

.el-message-box--center.o_detail .el-message-box__content {
    padding: 0 30px;
}

.o_detail {
    width: 500px;
}

.o_detail .el-table th {
    text-align: center;
}

.order_detail .detail_table {
    margin-top: 28px;
    padding: 8px 24px 15px 24px;
    border: 1px solid #eee;
}

.order_detail .table_title {
    display: -webkit-flex;
    display: flex;
    padding: 10px 0 18px;
    border-bottom: 1px solid #ebeef5;
}

.order_detail .table_content {
    padding-top: 13px;
}

.order_detail .item_title,
.order_detail .item_content {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 20px;
}
.order_detail .item_title {
    font-size: 16px;
    font-weight: bold;
}

.order_detail .table_row {
    display: -webkit-flex;
    display: flex;
    padding: 13px 0;
}

/* 支付页 */
.pay {
    font-size: 14px;
    color: #212121;
}

.pay .el-main {
    padding: 0 40px 0 0;
}

.pay .house_img {
    display: block;
    background: #EEE;
}

.pay .el-main {
    margin-left: 0;
}

.pay .house_main .content {
    padding: 18px 0;
    border-bottom: 2px solid #000;
}

.pay .house_main .title {
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.pay .house_main .desc {
    margin-top: 10px;
    color: #757575;
}

.pay .house_sub .title {
    padding: 18px 0;
    font-size: 16px;
}

.pay .check_time {
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.pay .check_time .txt,
.pay .check_time .time {
    display: block;
}

.pay .check_time .time {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 600;
}

.pay .check_panel .tips {
    margin-top: 6px;
    color: #757575;
    font-size: 12px;
}

.pay .house_sub .amount {
    display: block;
    margin: 16px 0 10px;
    font-weight: 600;
}

.pay .detail_info .title {
    padding: 40px 0 30px;
    font-size: 22px;
    font-weight: 600;
}

.pay .detail_info .grid_content {
    padding: 22px 0 20px;
}

.pay .detail_info .grid_content .desc {
    margin-top: 12px;
    font-size: 14px;
}

.pay .detail_info .grid_content .desc.free_num {
    color: #757575;
}

.pay .detail_info .grid_tips {
    background: #fafafa;
}
.pay .detail_info .grid_tips.no_coupon {
    padding: 22px 15px;
}

.pay .detail_info .el-row {
    border-bottom: 1px solid #eee;
}
.pay .detail_info .el-row.no_border {
    border-bottom: none;
}

.pay .detail_info .total {
    margin-top: 20px;
    color: #ff4081;
    font-size: 18px;
}

.pay .pay_btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 64px;
    color: #fff;
    font-size: 18px;
    background: #ff4081;
}

.pay .el-aside {
    width: 275px !important;
}

@media screen and (max-width: 1240px) {
    .pay .el-aside {
        width: 232px !important;
    }
}

/* 预定成功页 */
.success {
    font-size: 14px;
}

.success img {
    display: block;
}

.success .tips {
    padding: 30px 0 30px;
}

.success .el-main {
    padding: 0;
}

.success .tips .title {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}
.success .tips .desc {
    margin-top: 12px;
}
.success .tips .desc.wbole_minor {
    margin-top: 8px;
}

.success .title .iconfont {
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.success .tips .a_link {
    color: #ff4081;
}

.success .el-card__body {
    padding: 25px 22px;
}

.success .order_info {
    display: -webkit-flex;
    display: flex;
}

.success .main {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 60%;
}

.success .main .content {
    width: auto;
    margin-left: 20px;
}

.success .main .title {
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.success .main .addr,
.success .main .classification {
    margin-top: 14px;
    font-size: 16px;
}
.success .main .addr {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.success .main .owner {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 20px;
}

.success .owner .wrapper {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    font-size: 0;
}

.success .owner .wrapper .avatar,
.success .owner .wrapper .name {
    display: inline-block;
    vertical-align: middle;
}
.success .owner .wrapper .avatar {
    flex: 0 0 auto;
}
.success .owner .wrapper .name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    flex: 1;
}

.success .owner .wrapper .name {
    font-size: 16px;
}

.success .owner .wrapper .pic_avatar {
    margin-right: 16px;
    border-radius: 50%;
}

.success .owner .contact {
    flex: 0 0 auto;
    margin-left: 20px;
}

.success .aside {
    position: relative;
    margin-left: 30px;
    padding-left: 30px;
    width: 50%;
    border-left: 1px solid #eee;
    box-sizing: border-box;
}

.success .aside .check_date {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.success .aside .amount,
.success .aside .total,
.success .aside .el-button {
    margin-top: 14px;
    font-size: 16px;
}

.success .aside .total {
    position: absolute;
    bottom: 0;
    left: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    justify-content: space-between;
}
.success .aside .txt {
    flex: 0 0 auto;
}
.success .aside .btn {
    flex: 0 0 90px;
    margin-left: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    cursor: pointer;
}
.success .aside .btn:hover {
    border-color: #212121;
}

.success .aside .el-button {
    margin-top: 28px;
    padding: 8px 18px;
}

.success .aside .total .price {
    float: initial;
    color: #ff4081;
}

/* 列表页 */
.list .loaded {
    margin-top: 20px;
    text-align: center;
}

.list .el-main {
    padding-bottom: 60px;
}

.list .footer {
    margin-top: 0;
}
.list .xz_loading {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 20px;
}
.list .xz_loading .el-icon-loading {
    font-size: 24px;
}

/* 支付页 */
.pay .rotate {
    display: inline-block;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -o-transform: rotate(90deg); /* Opera */
    -moz-transform: rotate(90deg); /* Firefox */
}

.pay .view_detail {
    cursor: pointer;
}

.pay .pay_btn {
    cursor: pointer;
}

.pay .coupon_square:nth-child(odd) {
    margin-right: 32px;
}

.pay .right {
    text-align: right;
}

.pay .table_title {
    font-weight: 600;
    font-size: 16px;
}

.pay .payforOnline {
    margin-top: 20px;
    color: #ff4081;
    font-size: 18px;
    font-weight: 500;
}

.pay .feeBox {
    padding: 20px 0
}

.pay button {
    border: solid 0 transparent;
}

.pay .renewDetail {
    padding: 20px 0 0 0;
}

/* cashierDesk */
.cashier_desk .pay_btn {
    margin-bottom: 50px;
    position: relative;
}

.cashier_desk .order_step_pay {
    width: 100%;
    height: 130px;
    background-color: #fafafa;
    position: relative;
}

.cashier_desk .order_step_pay div {
    display: inline-block;
}

.cashier_desk .order_step_left {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.cashier_desk .order_step_left img {
    width: 100%;
}

.cashier_desk .order_step_middle {
    position: absolute;
    left: 106px;
    top: 50%;
    transform: translateY(-50%);
}

.cashier_desk .order_step_middle h3 {
    font-size: 24px !important;
    margin-bottom: 5px;
}
.cashier_desk .order_step_middle .order_step_desc {
    font-size: 18px;
}

.cashier_desk .order_step_middle p span {
    color: #ff4081;
}

.cashier_desk .order_step_right {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.cashier_desk .order_step_right p {
    font-size: 16px;
    margin-bottom: 10px;
}

.cashier_desk .order_step_right p span {
    color: #ff4081;
    font-weight: 500;
}

.cashier_desk .order_step_right .btn {
    float: right;
    cursor: pointer;
    width: 106px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border: 1px #cfcfcf solid;
    box-sizing: border-box;
    border-radius: 2px;
}
.cashier_desk .order_step_right .btn:hover {
    border-color: #212121;
}
.cashier_desk .el-radio__input {
    display: none;
}
.cashier_desk .el-radio__label {
    padding-left: 0;
}

.no_result_list {
    text-align: center;
    margin-top: 30%;
}

.no_result_list > p {
    font-size: 14px;
    margin-top: 10px;
}
