@charset "utf-8";
/* CSS Document */
.f_20{ font-size:20px;}
.pt13{ padding-top:13px;}
.pt10{ padding-top:10px;}
.lh30{ line-height:30px;}
.pl13{ padding-left:13px;}
.fl{ float:left;}
.fr{ float:right;}
.yh{ font-family:"Microsoft YaHei";}
.im_box{ width:780px; height:500px; background:#fff; box-shadow:0 0 8px #5e5b5b; font:normal 12px/24px "宋体"; line-height:20px; color:#2c3e50;position:fixed;z-index:990;top:150px;right:200px;}
.im_box a{ color:#2c3e50;}
.im_box a:hover{ color:#2c3e50; text-decoration:none;}
.im_l,.im_m,.im_r{ float:left; height:500px;}
.im_l,.im_m{ border-right:1px solid #efefef;}
.im_l{ position:relative; width:170px; background:#fdfdfd;}
.im_l h4 {font-weight: normal;border-left: none;padding-left: 0;height: 46px;line-height: 46px;font-size: 14px;text-align: center;}
.im_tel_box{ position:relative; width:170px; height:412px; overflow:hidden;}
.im_tel_box li{ position:relative; width:100%; height:60px; line-height:16px;}
.im_tel_box li.cur{ background:#f2f2f2;}
.im_tel_box li.cur1{ background:#f2f2f2;}
.im_colsed{ position:absolute; left:7px; top:28px; background:url(../images/webim/im_sprice.png) no-repeat 0 -320px; width:8px; height:8px; cursor:pointer; display:none;}
.im_num{ position:absolute; font-size:12px!important; font-family:"宋体"!important; right:17px; top:22px; padding:0 3px; height:14px; line-height:14px; background:#f05b72; color:#fff; border-radius:6px;}
.im_name{ float:left;padding-left:3px;padding-top: 15px;width: 78px;position: relative;}
.im_pho_big{ float:left; width:40px; padding:11px 0 0 22px;}
.im_pho_big img{ display:block; border-radius:20px; width:40px; height:40px;}
.im_pho_small{ float:left; width:40px; padding:14px 0 0 24px;}
.im_pho_small img{display:block; border-radius:17px; width:34px; height:34px;}
.im_btm_info{ position:absolute; left:18px; bottom:0; width:152px; height:30px;}
.im_btm_info span{ display:inline-block; margin-right:20px;}
.im_sound_text{ position:absolute; top:-32px; left:18px;}
.im_sound,.im_sound_closed,.im_info{ background:url(../images/webim/im_sprice.png) no-repeat; width:19px; height:20px; cursor:pointer;}
.im_info{ background-position:0 -27px; width:19px; height:17px;}
.im_sound_closed{ background-position:0 -364px;}
.im_hide,.im_hide:hover{ position:absolute; right:0; top:0; background:url(../images/webim/im_sprice.png) no-repeat 0 -54px; width:40px; height:39px; cursor:pointer;}
.im_hide:hover{ background-position:0 -463px;}
.im_m{ width:378px; position:relative;}
.im_info_top {height:auto;border-bottom: none;padding: 19px 0;}
.im_info_pic{ display:block; float:left; width:48px; height:48px; border-radius:24px;}
.im_info_r {float: none;padding-left: 0;line-height: 22px;margin: 0 auto;text-align: center;}
.im_info_r h5{ font-weight:normal; color:#959ea7;}
.im_boy_ico,.im_girl_ico{ display:inline-block; background:url(../images/webim/im_sprice.png) no-repeat 0 -101px; width:12px; height:12px; margin:0 10px 0 6px; vertical-align:middle;}
.im_zhima_new{ color:#4eb892; font-size:14px; background:url(../images/webim/im_sprice.png) no-repeat 0 -130px; padding-left:13px; padding-top:2px;}
.im_girl_ico{ background-position:0 -116px;}
.im_r{ width:190px; position:relative; padding:0 20px 0; height:500px;}
.im_btm_text{ position:absolute; left:0; bottom:10px; width:100%; text-align:center; font-weight:normal;font-size: 12px;color: #212121;}
.im_btm_text a{position: relative;}
.im_btm_text i{display: inline-block;width: 0;height: 0;border-left: 4px solid #212121;border-top: 4px solid transparent;border-bottom: 4px solid transparent;margin-left: 6px;}
.im_btm_text a:before{position: absolute;left: 0;bottom: -2px;width: 100%;height: 1px;content: '';background: #212121;}
.im_scroll{ position:absolute; right:1px; height:65px; width:5px; background:#5e5b5b; z-index:3; border-radius:3px;}
.im_house_tit{ height: 46px;}
.im_house_tit li{ font-size:14px; line-height:46px; cursor:pointer;text-align: center;color: #212121;height: 46px;}
.im_house_tit li.cur{ border-bottom:3px solid #ee5169;}
.im_house_con{ display:block;height:435px;/*width:228px;*/overflow:hidden}
.im_house_con h5{ font-size:14px; font-weight:normal; padding-top:10px;}
.im_add{ border-bottom:1px solid #efefef; padding:0; color:#959ea7; margin-bottom:10px;line-height: 18px;padding-bottom: 7px;}
.im_img{position:relative; /*width:209px;*/ height:136px;}
.im_img>a{display: block;position: relative;}
.im_img .mask_wrap{position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 1;background: rgba(0,0,0,0.7);}
.im_img .mask_wrap p{line-height: 136px;text-align: center;color: #fff;font-size: 16px;}
.im_sc,.im_ysc{ display:block; position:absolute; top:9px; right:8px; background:url(../images/webim/im_sprice.png) no-repeat 0 -414px; width:20px; height:20px; cursor:pointer;}
.im_ysc{ background-position:0 -439px;}

.im_tj{ margin-top:-14px;}
.im_tj li{ position:relative; border-bottom:1px solid #efefef; padding:14px 0 10px;}
.im_room{ float:left; width:110px;}
.im_room_pic{ display:block; margin-bottom:8px;}
.im_room_info{ position:relative; float:right; width:88px; height:99px;margin-right:17px;}
.im_tips{ position:absolute; left:22px; top:91px; height:44px; width:310px; background:#f1f1f1; border-radius:5px; margin-top:7px; padding:5px 9px 0; color:#959ea7;}
.im_date{ text-align:center; line-height:32px; color:#959ea7;}
.im_dialog_box{ position:relative; width:329px; height:325px; border-bottom:none; padding:0 15px; overflow:hidden;}
.im_dialog_box li{ width:98%; margin-bottom:12px;list-style: none outside none;margin: 0 auto 12px;}
.im_dialog_box li p {min-height:18px;font-size:12px;position: relative;display: inline-block;line-height: 18px;padding: 4px 10px 5px;color: #212121;background: #eeeeee;border-radius: 5px;word-break: break-all;text-align: left;}
.im_dialog_box li p span,.im_dialog_box li.other p em{ display:block; position:absolute; top:5px;background:url(../images/webim/im_sprice.png) no-repeat 0 -172px; width:6px; height:6px; }
.im_dialog_box li p span{left:-5px; }
.im_dialog_box li.other p em{ background-position:0 -183px!important; right:-5px!important;}
.im_dialog_box li.other p {background: #2dc3b5;color: #fff;position: relative;}
.im_dialog_box li.other{text-align:right;}
.im_msg_box{ position:relative; height:114px; border-bottom:none; padding:0 10px 0 15px;}
.im_exp,.im_exp:hover,.im_tip,.im_tip:hover{ display:inline-block; background:url(../images/webim/im_sprice.png) no-repeat 0 -197px; width:20px; height:20px; margin-right:8px; cursor:pointer;}
.im_exp:hover{ background-position:0 -271px;}
.im_tip{ background-position:0 -224px;}
.im_tip:hover{ background-position:0 -295px;}
.im_msg,.im_msg:hover{ float:right; height:20px; background:url(../images/webim/im_sprice.png) no-repeat 0 -247px; padding-left:27px;cursor:pointer}
.im_msg:hover{ background-position:0 -335px;}
.im_btm_box{ padding:4px 5px 0 14px; position:relative;}
.im_reply{ position:absolute; left:49px; top:-33px; width:152px; height:24px; line-height:24px; background:#f1f1f1; border-radius:4px; text-align:center;}
.im_reply_box{ position:absolute; left:10px; bottom:107px; width:321px; border:1px solid #e9e9e9; background:#fff; box-shadow:2px 2px 4px #e8e8e8;}
.im_reply_box ul{}
.im_reply_box li{ padding:0 15px 0 13px; height:30px; width:292px; line-height:30px; border-bottom:1px solid #e8e8e8;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.im_reply_box li:hover{ background:#f6f6f6;}
.im_btm_arrow,.im_btm_arrow1{ position:absolute; background:url(../images/webim/im_sprice.png) no-repeat 0 -387px; }
.im_btm_arrow{left:14px; bottom:-6px;width:7px; height:7px;}
.im_btm_arrow1{ left:48px; bottom:-9px; background-position:0 -397px; width:18px; height:9px;}
.im_no_spend{ position:absolute; right:5px; top:-26px; width:150px; height:20px; line-height:20px; text-align:center; color:#f05b72; background:#f1f1f1; border-radius:1px;}
.im_border_none{ border-bottom:none!important;}
.im_img_recommend {float:left;width:54px;height:54px;margin:6px 0 6px 0}
.im_text {display:block;float:left;width:152px;padding-left:10px;text-align:left;margin-top:3px;}
.im_text i {display:block;color:#f05b72;}


/*col*/
.col_pink{ color:#f05b72!important;}
.col_pink a,.col_pink:hover{ color:#f05b72!important; text-decoration:none;}
.col_blue{ color:#2c3e50;}


/*btn*/
.im_tj_btn,.im_tj_btn:hover{ position:absolute; right:0; bottom:3px; width:57px; height:24px; line-height:24px; text-align:center; background:#f05b72; color:#fff!important; text-decoration:none!important;cursor:pointer}
.im_tj_btn:hover{ background:#e33555;}
.im_send_btn,.im_send_btn:hover{ display:inline-block; background:#ff4081; width:70px; height:28px; line-height:28px; font-size:14px; text-align:center; color:#fff!important; text-decoration:none!important;transition-duration: 0.9s;}
.im_send_btn:hover{ background:#e33555;}
.im_msg_btn{ border:none; background:#fff; width:333px; height:75px; padding-top:5px; text-align:left; overflow:hidden; resize:none;font-size: 12px;color: #212121;border-top: 1px solid #e0e0e0;}
.im_word_btn{ float:left; border:none; background:#fff; width:256px; height:28px; color:#959ea7; padding-top:7px; overflow:hidden; resize:none;}

#favoriteList {width:325px;}

/* mscb_sroll plugin*/
#favoriteList .mCSB_scrollTools{right:0;}
#xzimwindow .mCustomScrollBox {overflow:visible !important}
.mCustomScrollBox{overflow:hidden !important}
.im_m .mCSB_scrollTools{top:10px;right:-16px !important}
.im_m .mCSB_container{margin-top:12px}
.im_house_con .mCSB_scrollTools{top:15px;right:-5px !important}

.mCSB_scrollTools .mCSB_draggerRail {background-color: #919191;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background: #5e5b5b; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { border-radius: 10px; height: 100%; margin: 0 auto; text-align: center; width: 5px; }
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: #5e5b5b !important; }

.p_line{ font-family:" 宋体"; font-size:12px; color:#959ea7;}
.p_contact{ font-family:" 宋体"; font-size:12px; color:#f05b72; margin-top:32px; text-align:center;}

/*芝麻信用*/
.zhima_ico{ display:inline-block; vertical-align:bottom; position:relative;}
.zhima_ico i{display: inline-block; vertical-align: bottom; background:url(../images/icon_fd.png) no-repeat; background-position: -24px -563px; width: 30px; height: 16px; line-height:19px; margin: 3px 0 0 5px; padding-left:18px; font-size:12px; color:#fff; cursor:pointer;}
.zhima_layer{ width:230px; border:1px solid #e3e3e3; -webkit-box-shadow: 0 0 4px #d1d1d1; -moz-box-shadow: 0 0 4px #d1d1d1; box-shadow: 0 0 4px #d1d1d1; position:absolute; z-index:100;font: normal 14px/24px "Microsoft YaHei";}
.add1{ top:65px; left:27px;}
.add2{ left:-8px; top:22px;}
.add3{ top:22px; left:5px;}
.add4{ margin-left:-22px;}
.f12{ font-size:12px;}
.zhima_box_top{ width:230px; background:#fff; padding-top:12px;}
.zhima_jc,.zhima_zd,.zhima_lh,.zhima_yx,.zhima_jh{ width:230px; text-align:center; padding-top:55px;}
.zhima_jc{ background:url(../images/jc_bg.png) no-repeat center bottom; color:#ff5c47;}
.zhima_zd{ background:url(../images/zd_bg.png) no-repeat center bottom; color:#ff9400;}
.zhima_lh{ background:url(../images/lh_bg.png) no-repeat center bottom; color:#5ec636;}
.zhima_yx{ background:url(../images/yx_bg.png) no-repeat center bottom; color:#02bbb7;}
.zhima_jh{ background:url(../images/jh_bg.png) no-repeat center bottom; color:#18a2f5;}
.zhima_score_tit{ font-size:12px; font-weight:normal;}
.zhima_score{ font-size:46px; padding:10px 0; font-weight:normal;}
.zhima_score_result{ font-size:18px; font-weight:normal;}
.zhima_score_text{ padding:10px 15px; font-family:"宋体"; font-size:12px; line-height:18px;}
.zhima_score_text a:hover{ color:#f05b72; text-decoration:none;}
.zhima_box_bottom{ background:#30c3a6; padding:10px 5px; text-align:center; font-family:"宋体"; color:#fff; line-height:18px;}
.xz_zm_logov2{ display:inline-block; background:url(../images/xz_zm_logov2.png) no-repeat; width:74px; height:35px;}
.look_score{ display:block; color:#fff!important; font-size:12px;}
.look_score:hover{ color:#fff;}

.ml0 { margin-left:0!important;}

.friendListPart {cursor:pointer}

.im_top_name{ color:#2c3e50; font-size:16px; max-width:145px; display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; vertical-align:middle;}
.im_error_l,.im_error_r{position:absolute; display:inline-block; top:50%; background:url(../images/webim/im_sprice.png) no-repeat 0 -513px; width:14px; height:14px; margin-top:-7px;}
.im_error_l{ left:-22px;}
.im_error_r{ right:-22px;}

/*
#im_faceIcon_part{ width:265px; border:1px solid #e9e9e9; box-shadow:2px 2px 4px #e8e8e8; padding:8px; background:#fff;}
#im_faceIcon_part img{ display:block; float:left; font-size:0;border-bottom: 1px solid #e8e8e8;border-right: 1px solid #e8e8e8;height: 22px;width: 22px;padding:5px; cursor:pointer;}
#im_faceIcon_part img:hover{border:1px solid #ceced0!important; margin:-1px 0 0 -1px;}
*/
.faceIcon_arrow{ position:absolute; left:12px; bottom:-10px; background: url(../images/webim/im_sprice.png) no-repeat 0 -535px; width:10px; height:11px;}
.bor_r_none{ border-right:none!important;}
.bor_btm_none{ border-bottom:none!important;}

#im_curLodgeUnit_img {display:block; width:209px; height:136px;}

/*2017/8/10 新增*/
.im_msg_tool{height: 40px;position: absolute;bottom: 0;left: 0;background: #fff;width: 100%;}
.im_msg_tool a{vertical-align: middle;}
.tool_left{float: left;padding: 10px 0 10px 10px;}
.tool_right{float: right;padding: 6px 6px 6px 0;}
.im_rep,.im_rep:hover,.im_pic,.im_pic:hover,.im_col,.im_col:hover,.im_pro,.im_pro:hover,.im_msg,.im_msg:hover,.im_shield,.im_shield:hover{display:inline-block; background:url(../images/webim/im_sprice.png) no-repeat; width:20px; height:20px; margin-right:8px; cursor:pointer;position: relative;}
.im_rep{background-position: -27px -199px;margin-top: 1px;}
.im_rep:hover{background-position: -27px -199px;margin-top: 1px;}
.im_pic{background-position: -27px -225px;margin-top: 3px;}
.im_pic:hover{background-position: -27px -225px;margin-top: 3px;}
.im_col{background-position: -27px -247px;}
.im_col:hover{background-position: -27px -247px;}
.im_pro{background-position: -27px -271px;}
.im_pro:hover{background-position: -27px -271px;}
.im_msg{background-position: 0 -247px;padding: 0;float: none;margin-right: 10px;}
.im_msg:hover{background-position: 0 -335px;padding: 0;float: none;margin-right: 10px;}
.im_shield{background-position: -27px -320px;}
.im_shield:hover{background-position: -27px -320px;}
.im_name p{line-height: 16px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size: 12px;color: #212121;font-weight: 200;position: relative;}
.im_name h6{line-height: 16px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size: 12px;color: #757575;font-weight: 200;}
.im_name img.expr_icon{width: 12px;height: 12px;vertical-align: middle;}
.im_name i.more_icon{line-height: 14px;color: #fff;font-size: 12px;padding: 0 3px;border-radius: 6px;background: #ff4081;position: absolute;right: -15px;top: 32px;}
.im_name i.tips_icon{display: inline-block;width: 12px;height: 12px;background: url(../images/webim/im_sprice.png) -27px 0 no-repeat;vertical-align: text-bottom;margin-right: 3px;}
.tips_box{width: 224px;line-height: 16px;font-size: 12px;color: #757575;padding: 6px 10px;background: #f5f5f5;text-align: left;margin: 0 auto 12px;border-radius: 4px;}
.tips_box em{color: #ff4081;}
.im_house_price{float: right;font-size: 14px;color: #ff4081;margin-right: 9px;}
.im_house_price em{font-size: 20px;color: #ff4081;font-weight: bold;}
.im_dialog_box li.other i.msg_icon{position: absolute;width: 12px;height: 12px;left: -16px;top: 8px;background: url(../images/webim/im_sprice.png) no-repeat;}
.im_dialog_box li.other i.msg_fail{background-position: -27px 0;}
.im_dialog_box li.other i.msg_resend{background-position: -27px -17px;}
.im_name p .send_in_icon{display: inline-block;width: 12px;height: 12px;background: url(../images/webim/im_sprice.png) -27px -33px no-repeat;margin-right: 5px;vertical-align: text-bottom;}
.im_name p .not_send_icon{display: inline-block;width: 12px;height: 12px;background: url(../images/webim/im_sprice.png) -27px -100px no-repeat;margin-right: 5px;vertical-align:  text-bottom;}
.exp_box{position: absolute;width: 320px;height: 195px;top: -205px;left: 5px;background: #fff;cursor: default;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.exp_box:before{position: absolute;content: '';width: 12px;height: 8px;left: 8px;bottom: -8px;background: url(../images/webim/im_sprice.png) -27px -119px no-repeat;}
.exp_box .inner{padding: 4px 7px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;max-height:100%;overflow-y: auto; }
.exp_box .inner span{display: inline-block;cursor: pointer;text-align: center;padding: 5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.exp_box .inner span img{width: 20px;height: 20px;vertical-align: middle;}
.exp_box .inner span.current{border: 1px solid #c4c5c6;padding: 4px;}
/*图片信息*/
.msg_pic{width: 180px;height: 120px;position: relative;display: inline-block;background: #f5f5f5;}
.msg_pic img{width: 100%;height: 100%;border-radius: 4px;}
.msg_pic .pic_mask{position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.7);z-index: 1;line-height: 90px;width:100%;text-align: center;font-size: 16px;color: #fff;height: 100%;border-radius: 4px;}
.msg_pic .pic_mask .pic_fail{width: 30px;height: 25px;display: inline-block;background: url(../images/webim/im_sprice.png) -20px -130px no-repeat;margin-top: 30px;}
.msg_pic .pic_deleted{line-height: 96px;text-align: center;font-size: 16px;color: #bdbdbd;border-radius: 4px;}
/*全屏预览*/
.pic_mask_wrap{position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,0.7);z-index: 999;left: 0;top: 0;}
.pic_mask_wrap .inner{width: 660px;height: 440px;position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;}
.pic_mask_wrap .inner img{width: 100%;height: 100%;}
.pic_mask_wrap .inner a.btn_icon{position: absolute;bottom: -64px;width: 36px;height: 36px;background: url(../images/webim/im_sprice.png) no-repeat;}
.pic_mask_wrap .inner a.left_rotate{left: 283px;background-position: -48px 0;}
.pic_mask_wrap .inner a.right_rotate{right: 283px;background-position: -48px -42px;}
.pic_mask_wrap a.close_btn{position: absolute;width: 20px;height: 20px;right: 30px;top: 30px;background: url(../images/webim/im_sprice.png) -48px -85px no-repeat;}
/*房源信息*/
.info_mask{position: absolute;left: 0;top: 0;background: transparent;width: 100%;height: 100%;}
.info_mask span{position: absolute;left: 0;bottom: 0;background: rgba(0,0,0,0.7);width:100%;text-align: center;font-size: 12px;color: #fff;height: 24px;line-height: 24px;
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0 8px;}
.info_mask .price_tag{position: absolute;right: 2px;bottom: 26px;height: 18px;color: #ff4081;background: #fff;font-size: 12px;padding: 0 4px;border-radius: 2px;}
/*我的收藏*/
.tool_left .col_wrap{position: absolute;width: 320px;height: 245px;top: -255px;left: -105px;background: #fff;cursor: default;z-index: 10;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.tool_left .col_wrap:before{position: absolute;content: '';width: 12px;height: 8px;left: 110px;bottom: -8px;background: url(../images/webim/im_sprice.png) -27px -119px no-repeat;}
.tool_left .col_wrap .inner{padding: 4px 7px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;max-height:100%;overflow-y: auto; }
.col_wrap .col_tags{height: 40px;line-height: 40px;text-align: center;}
.col_wrap .col_tags a{font-size: 14px;color: #212121;width: 50%;display: inline-block;border-bottom: 1px solid #bdbdbd;float: left;position: relative;}
.col_wrap .col_tags a.current:before{content: '';position: absolute;left: 50%;bottom: 0;width: 10px;height: 5px;background: url(../images/webim/im_sprice.png) -20px -164px no-repeat;margin-left: -5px;}
.col_content{height: 204px;padding: 0 10px;overflow-y: auto;}
.col_content .tags_item{display: none;max-height: 100%;}
.col_content .tags_item.current{display: block;}
.col_item{border-bottom: 1px solid #e0e0e0;}
.col_item h5{line-height: 31px;height: 31px;font-size: 12px;color: #212121;cursor: pointer;overflow:hidden;white-space:nowrap; text-overflow:ellipsis}
.col_item h5 i{display: inline-block;width: 6px;height: 10px;background: url(../images/webim/im_sprice.png) -64px -115px no-repeat;margin-right: 6px;}
.col_item .item_info{position: relative;height: 0;overflow: hidden;padding-bottom: 0;}
.col_item.active .item_info{position: relative;height: auto;padding-bottom: 10px;}
.col_item.active h5 i{width: 10px;height: 6px;background-position: -48px -115px;}
.col_item .item_info img{width: 80px;height:54px;margin-right: 9px;float: left;}
.col_item .item_info p.item_title{font-size: 12px;line-height: 18px;color: #757575; word-break:break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.col_item .item_info p.item_price{font-size: 12px;line-height: 15px;color: #757575;margin-top: 3px;}
.col_item .item_info a.item_recommend{position: absolute;bottom: 10px;right: 0;font-size: 12px;color:#212121;height: 19px;line-height: 19px;padding: 0 8px;border: 1px solid #d3d3d3;border-radius: 10px;}

.tool_left .rep_wrap{position: absolute;width: 320px;height: 245px;top: -255px;left: -40px;background: #fff;cursor: default;z-index: 10;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.tool_left .rep_wrap:before{position: absolute;content: '';width: 12px;height: 8px;left: 44px;bottom: -8px;background: url(../images/webim/im_sprice.png) -27px -119px no-repeat;}
.tool_left .rep_wrap .inner{padding: 0 10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;max-height:100%;overflow-y: auto; }
.tool_left .rep_wrap .inner a{line-height: 32px;font-size: 12px;color: #212121;border-bottom: 1px solid #e0e0e0;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;display: block;}
.tool_left .rep_wrap .inner a.edit_reply{color: #ff4081;border: 0;}
.tool_left .rep_wrap .inner a.edit_reply i{display: inline-block;width: 4px;height: 8px;background: url(../images/webim/im_sprice.png) -75px -115px no-repeat;margin-left: 6px;}
.tool_left .rep_tips{position: absolute;height: 32px;top: -42px;left: -40px;background: #fff;cursor: default;z-index: 10;font-size: 12px;color: #212121;padding: 0 10px;white-space: nowrap;line-height: 32px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.tool_left .rep_tips:before{position: absolute;content: '';width: 12px;height: 8px;left: 44px;bottom: -8px;background: url(../images/webim/im_sprice.png) -27px -119px no-repeat;}
.tool_left .rep_tips i{display: inline-block;width: 4px;height: 8px;background: url(../images/webim/im_sprice.png) -75px -115px no-repeat;margin-left: 6px;}
.tool_left .rep_tips em{color: #ff4081;}
/*弹窗*/
.im_pop_mask{position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,0.7);z-index: 999;left: 0;top: 0;}
.im_pop_320{width: 320px;height: 146px;position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;background: #fff;border-radius: 1px;text-align: center;}
.im_pop_320 p{font-size: 14px;color: #323232;margin-top: 40px;}
.im_pop_320 .btn_group{margin: 35px auto 0;width: 200px;}
.im_pop_320 .btn_group a{display: block;width: 90px;height: 36px;line-height: 36px;font-size: 14px;border-radius: 1px;}
.im_pop_320 .btn_group a.fl{color: #fff;background: #ff4b81;}
.im_pop_320 .btn_group a.fr{color: #ff4b81;background: #ffdbe6;}
/*房客表单*/
.form_wrap{text-align: center;margin: 0 50px;}
.form_wrap h5{font-size: 14px;color:#212121;font-weight: 400;}
.form_tips{margin-top: 25px;line-height: 27px;height: 27px;font-size: 12px;color: #757575;text-align: center;background: #eeeeee;border-radius: 2px;position: relative;}
.form_tips:before{position: absolute;content: '';left: 50%;top:-6px;width: 0;height: 0;border-bottom: 6px solid #eeeeee;border-left: 6px solid transparent;border-right: 6px solid transparent;margin-left: -6px;}
.form_content{margin-top: 10px;padding-bottom: 20px;border: 1px solid #e0e0e0;border-radius: 2px;overflow: hidden;}
.form_content label{display: block;position: relative;text-align: left;height: 40px;line-height: 40px;font-size: 12px;border-bottom: 1px solid #e0e0e0; cursor: pointer;color: #212121;background-color: #fff;}
.form_content label span{display: inline-block;width: 62px;height: 40px;color: #212121;white-space:nowrap;}
.form_content label input{display: inline-block;width: 160px;height: 40px;color: #212121;border: 0;vertical-align: top;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;/*letter-spacing: -1px;*/}
.form_content label i{width: 12px;height: 6px;position: absolute;right: 0;top: 16px;background: url(../images/webim/im_sprice.png) -83px -115px no-repeat;}
.form_content .send_btn{display: block;height: 40px;line-height: 40px;font-size: 14px;color: #fff;background: #bdbdbd;text-align: center;border-radius: 2px;}
.form_content .skip_btn{display: block;height: 40px;line-height: 40px;font-size: 14px;color: #212121;background: #fff;text-align: center;margin-top: 7px;border-radius: 2px;}
.form_content .send_btn:hover{color: #fff;}
.form_content textarea{height: 62px;font-size: 12px;color: #212121;resize: none;border: 1px solid #e0e0e0;width: 100%;border-top: 0;padding: 8px 10px;line-height: 18px;}
.form_content .font_num{text-align: right;font-size: 12px;color: #bdbdbd;margin-top: 10px;}
.content_top{padding: 16px 20px;}
.content_bottom{padding: 0 16px;}
/*表单填写完毕fill_end*/
.fill_end .form_content{border-color: #f5f5f5;}
.fill_end .content_top{background-color: #f5f5f5;}
.fill_end h5{font-weight: bold;}
.fill_end label{border-radius: 4px;padding: 0 10px;height: 35px;line-height: 35px;margin-bottom: 5px;}
.fill_end label span{font-weight: bold;height: 35px;line-height: 35px;}
.fill_end label input{width: 140px;height: 35px;line-height: 35px;}
.fill_end label i{right: 10px;}
.fill_end textarea{height: 54px;border: 0;border-bottom: 1px solid #e9e9e9;border-radius: 4px;}
.fill_end .send_btn{background-color: #ff4081;}
.fill_end .content_bottom{margin-top: 19px;}
/*行程*/
.trip_info{}
.trip_info .trip_title{display: block;height: 27px;line-height: 27px;border-bottom: 1px solid #96e1da;}
.trip_title .user_icon{display: inline-block;width: 13px;height: 15px;background: url(../images/webim/im_sprice.png) -60px -130px no-repeat;margin-right: 4px;vertical-align: sub;}
.trip_info .trip_text{display: block;font-size: 12px;line-height: 16px;color: #fff;padding-top: 5px;}
/*间距*/
.mt17{margin-top: 17px;}
.mt88{margin-top: 88px;}
.mt48{margin-top: 48px;}

.r_btn.disabled{border-color: #bdbdbd;}
.r_btn.disabled span{color:#bdbdbd;}
.r_btn.disabled i{background: url(../images/webim/add_disabled_icon.png) 0 0 no-repeat;}
.textoverflow{display:block;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.col_empty{text-align: center;padding-top: 60px;}
.col_empty p{font-size: 12px;color: #212121;margin-top: 13px;line-height: 18px;}


.public_list dd > h6{font-size: 14px;color: #2c3e50;line-height: 18px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.public_list dd > h6 i{margin-left: 10px;display: inline-block;width: 10px;height: 13px;background: url(/images/favorite/icon_sprite.png) -81px 0 no-repeat;vertical-align: middle;}
.public_list dd > h6 span{display: inline-block;max-width: 80%;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;vertical-align: middle;}
.public_list dd > p{font-size: 14px;color: #959ea7;margin-top: 8px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.public_list dd > a{font-size: 12px;color: #f05b72;margin-top: 13px;display: inline-block;}


.public_top .go_back{position: absolute;left: 16px;top: 50%;color: #f05b72;font-size: 14px;height: 14px;margin-top: -7px;line-height: 14px;}
.public_top .go_back i{display: inline-block;width: 8px;height: 14px;background: url(/images/favorite/icon_sprite.png) -141px 0 no-repeat;margin-right: 4px;vertical-align: top;}
.public_top .top_title{display: inline-block;max-width: 112px;color: #2c3e50;font-size: 14px;cursor: default;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

#favoriteList {width: auto;}
.public_ulist{text-align:left;padding: 0 15px;}
.public_ulist li{padding: 20px 0;}
.public_ulist li > h6{font-size:14px;color:#959ea7;line-height:18px;}
.public_ulist li > h6 i{margin-right: 10px;display: inline-block;width:10px;height:13px;background: url(/images/favorite/icon_sprite.png) -81px 0 no-repeat;vertical-align: inherit;}
.public_ulist li > p{font-size:12px;color:#959ea7;line-height:18px;margin-top:8px;word-break:break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.public_empty{height: calc(100% - 160px);border-top: 1px solid #efefef;margin: 0 20px;
-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.public_empty > i{display: block;width: 24px;height: 22px;margin: 0 auto;background: url(/images/favorite/collect_default.png) 0 0 no-repeat;background-size: 100%;margin-top: 122px;}
.public_empty > p{margin-top: 14px;font-size: 14px;color: #757575;text-align: center;}

.mCS_scrollbar{overflow-x: hidden;overflow-y: auto;height: calc(100% - 44px);
-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.public_edit{text-align: center;height: 40px;font-size: 14px;line-height: 40px;color: #f05b72;width: 100%;display: block;position: absolute;left: 0;bottom: 0;background: #fff;border-top: 1px solid #efefef;    z-index: 2;}
.public_edit:before{content: '';position: absolute;top: -1px;left: 0;height: 1px;background: #fff;width: 16px;}
.public_edit:after{content: '';position: absolute;top: -1px;right: 0;height: 1px;background: #fff;width: 16px;}
.p_list_im {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.p_list_im .p_item_im{padding: 14px 16px 14px 140px;border-top: 1px solid #efefef;position: relative;min-height: 102px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: left;background: #fff;
-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;display: block;}
.p_list_im .p_item_im:hover{background-color: #f6f6f6;}
.p_list_im .p_item_im:before{content: '';position: absolute;top: -1px;left: 0;height: 1px;background: #fff;width: 16px;}
.p_list_im .p_item_im:after{content: '';position: absolute;top: -1px;right: 0;height: 1px;background: #fff;width: 16px;}
.p_item_im .room_pic_im{width: 110px;height: 74px;line-height: 0;position: absolute;left: 16px;top: 14px;}
.p_item_im .room_pic_im img{width: 100%;height: 100%;}
.p_item_im .room_pic_mask{position: absolute;width: 100%;height: 100%;left:0;top: 0;background:rgba(29,27,27,0.6);z-index: 1;text-align: center;}
.p_item_im .room_pic_mask span{color: #d6d6d6;font-size: 12px;line-height: 74px;}
.p_item_im h6{font-size: 12px;color: #2c3e50;line-height: 18px;word-break:break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.p_item_im p{font-size: 12px;color: #959ea7;margin-top: 6px;}
.p_item_im .room_pos i{display: inline-block;width: 12px;height: 14px;background: url(../images/favorite/postion_icon.png) 0 0 no-repeat;margin-right: 7px;vertical-align: middle;margin-top: -2px;}
.p_item_im .p_price{font-size: 12px;color: #f05b72;position: absolute;right: 16px;bottom: 10px;line-height: 20px;}
.p_item_im .p_price em{font-size: 20px;margin: 0 4px;}



/*2017/8/10 新增*/
.im_msg_tool{height: 40px;position: absolute;bottom: 0;left: 0;background: #fff;width: 100%;}
.im_msg_tool a{vertical-align: middle;}
.tool_left{float: left;padding: 10px 0 10px 10px;}
.tool_right{float: right;padding: 6px 6px 6px 0;}
.im_rep,.im_rep:hover,.im_pic,.im_pic:hover,.im_col,.im_col:hover,.im_pro,.im_pro:hover,.im_msg,.im_msg:hover,.im_shield,.im_shield:hover{display:inline-block; background:url(../images/webim/im_sprice.png) no-repeat; width:20px; height:20px; margin-right:8px; cursor:pointer;position: relative;}
.im_rep{background-position: -27px -199px;margin-top: 1px;}
.im_rep:hover{background-position: -27px -199px;margin-top: 1px;}
.im_pic{background-position: -27px -225px;margin-top: 3px;}
.im_pic:hover{background-position: -27px -225px;margin-top: 3px;}
.im_col{background-position: -27px -247px;}
.im_col:hover{background-position: -27px -247px;}
.im_pro{background-position: -27px -271px;}
.im_pro:hover{background-position: -27px -271px;}
.im_msg{background-position: 0 -247px;padding: 0;float: none;margin-right: 10px;}
.im_msg:hover{background-position: 0 -335px;padding: 0;float: none;margin-right: 10px;}
.im_shield{background-position: -27px -320px;}
.im_shield:hover{background-position: -27px -320px;}
.im_name p{line-height: 16px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size: 12px;color: #212121;font-weight: 200;position: relative;}
.im_name h6{line-height: 16px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size: 12px;color: #757575;font-weight: 200;}
.im_name img.expr_icon{width: 12px;height: 12px;vertical-align: middle;}
.im_name i.more_icon{line-height: 14px;color: #fff;font-size: 12px;padding: 0 3px;border-radius: 6px;background: #ff4081;position: absolute;right: -15px;top: 32px;}
.im_name i.tips_icon{display: inline-block;width: 12px;height: 12px;background: url(../images/webim/im_sprice.png) -27px 0 no-repeat;vertical-align: text-bottom;margin-right: 3px;}
.tips_box{width: 224px;line-height: 16px;font-size: 12px;color: #757575;padding: 6px 10px;background: #f5f5f5;text-align: left;margin: 0 auto 12px;border-radius: 4px;}
.tips_box em{color: #ff4081;}
.im_house_price{float: right;font-size: 14px;color: #ff4081;margin-right: 9px;}
.im_house_price em{font-size: 20px;color: #ff4081;font-weight: bold;}
.im_dialog_box li.other i.msg_icon{position: absolute;width: 12px;height: 12px;left: -16px;top: 8px;background: url(../images/webim/im_sprice.png) no-repeat;}
.im_dialog_box li.other i.msg_fail{background-position: -27px 0;}
.im_dialog_box li.other i.msg_resend{background-position: -27px -17px;}
.im_name p .send_in_icon{display: inline-block;width: 12px;height: 12px;background: url(../images/webim/im_sprice.png) -27px -33px no-repeat;margin-right: 5px;vertical-align: text-bottom;}
.im_name p .not_send_icon{display: inline-block;width: 12px;height: 12px;background: url(../images/webim/im_sprice.png) -27px -100px no-repeat;margin-right: 5px;vertical-align:  text-bottom;}
.exp_box{position: absolute;width: 320px;height: 195px;top: -205px;left: 5px;background: #fff;cursor: default;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.exp_box:before{position: absolute;content: '';width: 12px;height: 8px;left: 8px;bottom: -8px;background: url(../images/webim/im_sprice.png) -27px -119px no-repeat;}
.exp_box .inner{padding: 4px 7px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;max-height:100%;overflow-y: auto; }
.exp_box .inner span{display: inline-block;cursor: pointer;text-align: center;padding: 5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.exp_box .inner span img{width: 20px;height: 20px;vertical-align: middle;}
.exp_box .inner span.current{border: 1px solid #c4c5c6;padding: 4px;}
/*图片信息*/
.msg_pic{width: 180px;height: 120px;position: relative;display: inline-block;background: #f5f5f5;}
.msg_pic img{width: 100%;height: 100%;border-radius: 4px;}
.msg_pic .pic_mask{position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.7);z-index: 1;line-height: 90px;width:100%;text-align: center;font-size: 16px;color: #fff;height: 100%;border-radius: 4px;}
.msg_pic .pic_mask .pic_fail{width: 30px;height: 25px;display: inline-block;background: url(../images/webim/im_sprice.png) -20px -130px no-repeat;margin-top: 30px;}
.msg_pic .pic_deleted{line-height: 96px;text-align: center;font-size: 16px;color: #bdbdbd;border-radius: 4px;}
/*全屏预览*/
.pic_mask_wrap{position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,0.7);z-index: 999;left: 0;top: 0;}
.pic_mask_wrap .inner{width: 660px;height: 440px;position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;}
.pic_mask_wrap .inner img{width: 100%;height: 100%;}
.pic_mask_wrap .inner a.btn_icon{position: absolute;bottom: -64px;width: 36px;height: 36px;background: url(../images/webim/im_sprice.png) no-repeat;}
.pic_mask_wrap .inner a.left_rotate{left: 283px;background-position: -48px 0;}
.pic_mask_wrap .inner a.right_rotate{right: 283px;background-position: -48px -42px;}
.pic_mask_wrap a.close_btn{position: absolute;width: 20px;height: 20px;right: 30px;top: 30px;background: url(../images/webim/im_sprice.png) -48px -85px no-repeat;}
/*房源信息*/
.info_mask{position: absolute;left: 0;top: 0;background: transparent;width: 100%;height: 100%;}
.info_mask span{position: absolute;left: 0;bottom: 0;background: rgba(0,0,0,0.7);width:100%;text-align: center;font-size: 12px;color: #fff;height: 24px;line-height: 24px;
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0 8px;}
.info_mask .price_tag{position: absolute;right: 2px;bottom: 26px;height: 18px;color: #ff4081;background: #fff;font-size: 12px;padding: 0 4px;border-radius: 2px;}
/*我的收藏*/
.tool_left .col_wrap{position: absolute;width: 320px;height: 245px;top: -255px;left: -105px;background: #fff;cursor: default;z-index: 10;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.tool_left .col_wrap:before{position: absolute;content: '';width: 12px;height: 8px;left: 110px;bottom: -8px;background: url(../images/webim/im_sprice.png) -27px -119px no-repeat;}
.tool_left .col_wrap .inner{padding: 4px 7px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;max-height:100%;overflow-y: auto; }
.col_wrap .col_tags{height: 40px;line-height: 40px;text-align: center;}
.col_wrap .col_tags a{font-size: 14px;color: #212121;width: 50%;display: inline-block;border-bottom: 1px solid #bdbdbd;float: left;position: relative;}
.col_wrap .col_tags a.current:before{content: '';position: absolute;left: 50%;bottom: 0;width: 10px;height: 5px;background: url(../images/webim/im_sprice.png) -20px -164px no-repeat;margin-left: -5px;}
.col_content{height: 204px;padding: 0 10px;overflow-y: auto;}
.col_content .tags_item{display: none;max-height: 100%;}
.col_content .tags_item.current{display: block;}
.col_item{border-bottom: 1px solid #e0e0e0;}
.col_item h5{line-height: 31px;height: 31px;font-size: 12px;color: #212121;cursor: pointer;overflow:hidden;white-space:nowrap; text-overflow:ellipsis}
.col_item h5 i{display: inline-block;width: 6px;height: 10px;background: url(../images/webim/im_sprice.png) -64px -115px no-repeat;margin-right: 6px;}
.col_item .item_info{position: relative;height: 0;overflow: hidden;padding-bottom: 0;}
.col_item.active .item_info{position: relative;height: auto;padding-bottom: 10px;}
.col_item.active h5 i{width: 10px;height: 6px;background-position: -48px -115px;}
.col_item .item_info img{width: 80px;height:54px;margin-right: 9px;float: left;}
.col_item .item_info p.item_title{font-size: 12px;line-height: 18px;color: #757575; word-break:break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.col_item .item_info p.item_price{font-size: 12px;line-height: 15px;color: #757575;margin-top: 3px;}
.col_item .item_info a.item_recommend{position: absolute;bottom: 10px;right: 0;font-size: 12px;color:#212121;height: 19px;line-height: 19px;padding: 0 8px;border: 1px solid #d3d3d3;border-radius: 10px;}

.tool_left .rep_wrap{position: absolute;width: 320px;height: 245px;top: -255px;left: -40px;background: #fff;cursor: default;z-index: 10;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.tool_left .rep_wrap:before{position: absolute;content: '';width: 12px;height: 8px;left: 44px;bottom: -8px;background: url(../images/webim/im_sprice.png) -27px -119px no-repeat;}
.tool_left .rep_wrap .inner{padding: 0 10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;max-height:100%;overflow-y: auto; }
.tool_left .rep_wrap .inner a{line-height: 32px;font-size: 12px;color: #212121;border-bottom: 1px solid #e0e0e0;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;display: block;}
.tool_left .rep_wrap .inner a.edit_reply{color: #ff4081;border: 0;}
.tool_left .rep_wrap .inner a.edit_reply i{display: inline-block;width: 4px;height: 8px;background: url(../images/webim/im_sprice.png) -75px -115px no-repeat;margin-left: 6px;}
.tool_left .rep_tips{position: absolute;height: 32px;top: -42px;left: -40px;background: #fff;cursor: default;z-index: 10;font-size: 12px;color: #212121;padding: 0 10px;white-space: nowrap;line-height: 32px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.tool_left .rep_tips:before{position: absolute;content: '';width: 12px;height: 8px;left: 44px;bottom: -8px;background: url(../images/webim/im_sprice.png) -27px -119px no-repeat;}
.tool_left .rep_tips i{display: inline-block;width: 4px;height: 8px;background: url(../images/webim/im_sprice.png) -75px -115px no-repeat;margin-left: 6px;}
.tool_left .rep_tips em{color: #ff4081;}
/*弹窗*/
.im_pop_mask{position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,0.7);z-index: 999;left: 0;top: 0;}
.im_pop_320{width: 320px;height: 146px;position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;background: #fff;border-radius: 1px;text-align: center;}
.im_pop_320 p{font-size: 14px;color: #323232;margin-top: 40px;}
.im_pop_320 .btn_group{margin: 35px auto 0;width: 200px;}
.im_pop_320 .btn_group a{display: block;width: 90px;height: 36px;line-height: 36px;font-size: 14px;border-radius: 1px;}
.im_pop_320 .btn_group a.fl{color: #fff;background: #ff4b81;}
.im_pop_320 .btn_group a.fr{color: #ff4b81;background: #ffdbe6;}
/*房客表单*/
.form_wrap{text-align: center;margin: 0 50px;}
.form_wrap h5{font-size: 14px;color:#212121;font-weight: 400;}
.form_tips{margin-top: 25px;line-height: 27px;height: 27px;font-size: 12px;color: #757575;text-align: center;background: #eeeeee;border-radius: 2px;position: relative;}
.form_tips:before{position: absolute;content: '';left: 50%;top:-6px;width: 0;height: 0;border-bottom: 6px solid #eeeeee;border-left: 6px solid transparent;border-right: 6px solid transparent;margin-left: -6px;}
.form_content{margin-top: 10px;padding-bottom: 20px;border: 1px solid #e0e0e0;border-radius: 2px;overflow: hidden;}
.form_content label{display: block;position: relative;text-align: left;height: 40px;line-height: 40px;font-size: 12px;border-bottom: 1px solid #e0e0e0; cursor: pointer;color: #212121;background-color: #fff;}
.form_content label span{display: inline-block;width: 62px;height: 40px;color: #212121;white-space:nowrap;}
.form_content label input{display: inline-block;width: 160px;height: 40px;color: #212121;border: 0;vertical-align: top;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;/*letter-spacing: -1px;*/}
.form_content label i{width: 12px;height: 6px;position: absolute;right: 0;top: 16px;background: url(../images/webim/im_sprice.png) -83px -115px no-repeat;}
.form_content .send_btn{display: block;height: 40px;line-height: 40px;font-size: 14px;color: #fff;background: #bdbdbd;text-align: center;border-radius: 2px;}
.form_content .skip_btn{display: block;height: 40px;line-height: 40px;font-size: 14px;color: #212121;background: #fff;text-align: center;margin-top: 7px;border-radius: 2px;}
.form_content .send_btn:hover{color: #fff;}
.form_content textarea{height: 62px;font-size: 12px;color: #212121;resize: none;border: 1px solid #e0e0e0;width: 100%;border-top: 0;padding: 8px 10px;line-height: 18px;}
.form_content .font_num{text-align: right;font-size: 12px;color: #bdbdbd;margin-top: 10px;}
.content_top{padding: 16px 20px;}
.content_bottom{padding: 0 16px;}
/*表单填写完毕fill_end*/
.fill_end .form_content{border-color: #f5f5f5;}
.fill_end .content_top{background-color: #f5f5f5;}
.fill_end h5{font-weight: bold;}
.fill_end label{border-radius: 4px;padding: 0 10px;height: 35px;line-height: 35px;margin-bottom: 5px;}
.fill_end label span{font-weight: bold;height: 35px;line-height: 35px;}
.fill_end label input{width: 140px;height: 35px;line-height: 35px;}
.fill_end label i{right: 10px;}
.fill_end textarea{height: 54px;border: 0;border-bottom: 1px solid #e9e9e9;border-radius: 4px;}
.fill_end .send_btn{background-color: #ff4081;}
.fill_end .content_bottom{margin-top: 19px;}
/*行程*/
.trip_info{}
.trip_info .trip_title{display: block;height: 27px;line-height: 27px;border-bottom: 1px solid #96e1da;}
.trip_title .user_icon{display: inline-block;width: 13px;height: 15px;background: url(../images/webim/im_sprice.png) -60px -130px no-repeat;margin-right: 4px;vertical-align: sub;}
.trip_info .trip_text{display: block;font-size: 12px;line-height: 16px;color: #fff;padding-top: 5px;}
/*间距*/
.mt17{margin-top: 17px;}
.mt88{margin-top: 88px;}
.mt48{margin-top: 48px;}

.r_btn.disabled{border-color: #bdbdbd;}
.r_btn.disabled span{color:#bdbdbd;}
.r_btn.disabled i{background: url(../images/webim/add_disabled_icon.png) 0 0 no-repeat;}
.textoverflow{display:block;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.col_empty{text-align: center;padding-top: 60px;}
.col_empty p{font-size: 12px;color: #212121;margin-top: 13px;line-height: 18px;}


/**
 * jQuery toast plugin created by Kamran Ahmed copyright MIT license 2014
 */
.jq-toast-wrap { display: block; position: fixed; width: 250px;  pointer-events: none !important; margin: 0; padding: 0; letter-spacing: normal; z-index: 9000 !important; }
.jq-toast-wrap * { margin: 0; padding: 0; }

.jq-toast-wrap.bottom-left { bottom: 20px; left: 20px; }
.jq-toast-wrap.bottom-right { bottom: 60px; right: 55px; }
.jq-toast-wrap.top-left { top: 20px; left: 20px; }
.jq-toast-wrap.top-right { top: 20px; right: 40px; }

.jq-toast-single { display: block; width: 100%; padding: 10px; margin: 0px 0px 5px; border-radius: 4px; font-size: 12px; font-family: arial, sans-serif; line-height: 17px; position: relative;  pointer-events: all !important; background-color: #444444; color: white; }

.jq-toast-single h2 { font-family: arial, sans-serif; font-size: 14px; margin: 0px 0px 7px; background: none; color: inherit; line-height: inherit; letter-spacing: normal; font-weight: normal;}
.jq-toast-single a { color: #eee; text-decoration: none; font-weight: bold; border-bottom: 1px solid white; padding-bottom: 3px; font-size: 12px; }

.jq-toast-single ul { margin: 0px 0px 0px 15px; background: none; padding:0px; }
.jq-toast-single ul li { list-style-type: disc !important; line-height: 17px; background: none; margin: 0; padding: 0; letter-spacing: normal; }

.close-jq-toast-single { position: absolute; top: 3px; right: 3px; font-size: 24px; cursor: pointer; }

.jq-toast-loader { display: block; position: absolute; top: -2px; height: 5px; width: 0%; left: 0; border-radius: 5px; background: red; }
.jq-toast-loaded { width: 100%; }
.jq-has-icon { padding: 10px 10px 10px 50px; background-repeat: no-repeat; background-position: 10px; }
.jq-icon-info { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII='); background-color: #31708f; color: #d9edf7; border-color: #bce8f1; }
.jq-icon-warning { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII='); background-color: #8a6d3b; color: #fcf8e3; border-color: #faebcc; }
.jq-icon-error { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII='); background-color: #a94442; color: #f2dede; border-color: #ebccd1; }
.jq-icon-success { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg=='); color: #dff0d8; background-color: #3c763d; border-color: #d6e9c6; }

.jq-toast-single a.detail{font-size: 12px;border-bottom: none;color: #fff;}
.jq-toast-single a.detail > i{display: inline-block;border-left: 5px solid #fff;border-right: 5px solid transparent;border-top:5px solid transparent;border-bottom: 5px solid transparent;margin-left: 5px;font-weight: normal;}