html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-style: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.content {
    width: 100vw;
}
.conter_wrap {
    width: 82vw;
    margin: 40px auto;
    word-wrap: break-word;
}
.conter_wrap p {
    color: #212121;
    font-size: 15px;
    line-height: 35px;
}
.conter_wrap h3{
    color: #ff4081;
    font-size:20px;
    margin-bottom: 10px;
}
.center{
    text-align: center;
}
.conter_wrap .need_color{
    color: #212121;
}
.content .color_red p{
    color: red;
}
.content_indent p{
    text-indent: 2em;
}
.indent{
    text-indent: 2em;
}
/*table*/

table{
    margin: 10px auto;
    width: 100%;
    font-size: 15px;
}
th,td{
    border: 1px solid #757575;
    padding: 10px 0 10px 10px;
    vertical-align: middle;
}
.conter_wrap .co_table td:nth-child(even){
    width:14%;
    text-align: center;
    padding-left: 0;
}
.sp_table tr td{
    text-align: center;
}